certifi==2018.11.29
chardet==3.0.4
Django==2.2.4
django-cors-headers==3.0.2
django-templated-mail==1.1.1
djangorestframework==3.10.2
djangorestframework-bulk==0.2.1
djangorestframework-csv==2.1.0
djoser==2.0.1
idna==2.7
psycopg2==2.8.3
pytz==2018.7
PyYAML==5.1.2
requests==2.22.0
six==1.11.0
sqlparse==0.3.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.26.5
