{% extends 'merlin/base.html' %}
{% block body_block %}

    <div id="loading"></div>
    <div style="padding:10px">

        <p>
            <button type="button" class="btn btn-default" name="add">Add New Cooperator</button>
        </p>
        <div id="form_add" class="panel-default" style="display:none;">
            <h3>Create Cooperator</h3>
            <form class="form-inline" style="border:1px solid;width:1100px;padding:4px;">
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="name">Name</label><br />
                    <input class="input-block-level" name="name" type="text" style="width:250px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="agency">Agency</label><br />
                    <input class="input-block-level" name="agency" type="text" style="width:300px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="email">Email</label><br />
                    <input class="input-block-level" name="email" type="text" style="width:250px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="phone">Phone</label><br />
                    <input class="input-block-level" name="phone" type="text" style="width:100px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="sec_phone">Secondary Phone</label><br />
                    <input class="input-block-level" name="sec_phone" type="text" style="width:100px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="address">Address</label><br />
                    <input class="input-block-level" name="address" type="text" style="width:500px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="city">City</label><br />
                    <input class="input-block-level" name="city" type="text" style="width:250px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="state">State</label><br />
                    <input class="input-block-level" name="state" type="text" style="width:40px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="zipcode">Zipcode</label><br />
                    <input class="input-block-level" name="zipcode" type="number" style="width:60px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="country">Country</label><br />
                    <input class="input-block-level" name="country" type="text">
                </div>
            </form>
            <br />
            <button type="button" class="btn btn-primary" data-loading-text="Saving..." name="addSave">Save</button>
        </div>
        <br />
        <pre id="grid_console" class="console" style="width:600px"></pre>
        <p><input id="select_field" type="hidden" placeholder="Filter by cooperator name." style="width:600px"/></p>
        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:393px;height:30px;font-size:14px;"/>
                    </li>
                </ul>
            </div>
        <!-- <p><input id="search_field" type="search" placeholder="Highlight in table." style="width:600px; border:1px solid darkgray; height:42px"/></p> -->
        <br /><br />
        <p>
            {% if request.session.is_staff %}
            <button type="button" class="btn btn-warning" data-loading-text="Saving..." name="save">Save</button>
            <button type="button" class="btn btn-danger" data-loading-text="Deleting..." name="delete">Delete Row</button>
            {% endif %}
            <button type="button" class="btn btn-default" data-loading-text="Reloading..." name="load">Reload Table</button>
        </p>
        <div id="grid" data-data="{{ data }}" ></div>

		<script>
            $(document).ready(function() {

				var loading = $('#loading');
				loading.hide();

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var validTable = false;
                var dateToday = new Date(); //toISOString().split("T")[0];
                var objectFields = ["id", "name", "agency", "email", "phone", "sec_phone", "address", "city", "state", "zipcode", "country", "projects"];
                var addClicked = false;
                /*function getColumns() {
                    var cols = [];
                    var col = {};
                    for (var i = 0; i < objectFields.length; i++){
                        if (objectFields[i] == 'id') {
                            col = {data: objectFields[i], readOnly: true};
                        }
                        else {
                            col = {data: objectFields[i]};
                        }
                        cols.push(col);
                    }
                    return cols;
                }*/
                var grid = $('#grid');
                var data_data = JSON.parse(grid.attr("data-data"));
                var grid_console = $("#grid_console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    data: data_data,
                    manualColumnResize: true,
                    manualRowResize: true,
                    invalidCellClassName: 'customHtInvalid',
                    search: {searchResultClass: 'customHtSearchResult'},
                    columns: [
                        {title: "ID", data: "id", readOnly: true, width: 1},
                        {title: "Name", data: "name", width: 200},
                        {title: "Agency", data: "agency", width: 200},
                        {title: "Email", data: "email", width: 240},
                        {title: "Phone", data: "phone", width: 100},
                        {title: "Sec. Phone", data: "sec_phone", width: 100},
                        {title: "Address", data: "address", width: 340},
                        {title: "City", data: "city", width: 160},
                        {title: "State", data: "state", width: 40},
                        {title: "ZIP Code", data: "zipcode", width: 80},
                        {title: "Country", data: "country", width: 100},
                        {title: "Projects", data: "projects", width: 1}
                    ],
                    columnSorting: true,
                    beforeChange: function(changes, source) {
                         // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the following strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of changed row
                        var changedRow = changes[0][0];

                        // remember the indices of all changed rows
                        if (typeof source !== 'undefined') {
                            // for all changed cells, get the changed rows
                            for (var i = 0; i < changes.length; i++) {
                                // get the row of this cell
                                var thisRow = changes[i][0];
                                // find index of this row in the changed rows array
                                var changedRowIndex = changedRowIndices.indexOf(thisRow);
                                // if not in the array (index == -1), add it to the array, otherwise ignore
                                if (changedRowIndex == -1) {
                                    changedRowIndices.push(thisRow);
                                }
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        // clear the array
                        selectionRowIndices.length = 0;
                        // add the beginning and ending indices
                        selectionRowIndices[0] = r;
                        selectionRowIndices[1] = r2;
                    }
                });
                //grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                var form_add = $("#form_add");
                form_add.find('button[name=addSave]').click(function() {
                    var button_state = $(this).button('loading');
                    loading.show();
                    var thisDataObject = {};
                    thisDataObject['name'] = form_add.find('input[name=name]').val();
                    if (thisDataObject['name'] == null) {grid_console.text('Name is required!'); loading.hide(); button_state.button('reset'); return false;}
                    thisDataObject['agency'] = form_add.find('input[name=agency]').val();
                    if (thisDataObject['agency'] == null) {grid_console.text('Agency is required!'); loading.hide(); button_state.button('reset'); return false;}
                    thisDataObject['email'] = form_add.find('input[name=email]').val();
                    if (thisDataObject['email'] == null) {thisDataObject['email'] = "";}
                    thisDataObject['phone'] = form_add.find('input[name=phone]').val();
                    if (thisDataObject['phone'] == "") {delete thisDataObject['phone']}
                    thisDataObject['sec_phone'] = form_add.find('input[name=sec_phone]').val();
                    if (thisDataObject['sec_phone'] == "") {delete thisDataObject['sec_phone']}
                    thisDataObject['address'] = form_add.find('input[name=address]').val();
                    if (thisDataObject['address'] == null) {thisDataObject['address'] = "";}
                    thisDataObject['city'] = form_add.find('input[name=city]').val();
                    if (thisDataObject['city'] == null) {thisDataObject['city'] = "";}
                    thisDataObject['state'] = form_add.find('input[name=state]').val();
                    if (thisDataObject['state'] == null) {thisDataObject['state'] = "";}
                    thisDataObject['zipcode'] = form_add.find('input[name=zipcode]').val();
                    if (thisDataObject['zipcode'] == "") {delete thisDataObject['zipcode']}
                    thisDataObject['country'] = form_add.find('input[name=country]').val();
                    if (thisDataObject['county'] == null) {thisDataObject['country'] = "";}
                    var dataJSON = JSON.stringify(thisDataObject);
                    $.ajax({
                        url: "{% url 'merlin:cooperators_create' %}",
                        data: dataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            // if the content-type is plain text, then it's a custom message from our Django view
                            if (content_type.indexOf('text') > -1) {
                                grid_console.text(data);
                                loading.hide();
                                button_state.button('reset');
                            }
                            // otherwise, it's JSON from the REST Services
                            else if (jqXHRequest.status === 200) {
                                $(":input", "#form_add").not(":button").val("");
                                grid.parent().find('button[name=add]').click();
                                grid_console.text(textStatus+': Data saved.');
                                loading.hide();
                                button_state.button('reset');
                            }
                            else {
                                grid_console.text(textStatus+': Save error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                                loading.hide();
                                button_state.button('reset');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                            loading.hide();
                            button_state.button('reset');
                        }
                    });
                });

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    multiple: true,
                    maximumSelectionSize: 1,
                    dropdownCss:{display:'none'},
                    //minimumResultsForSearch: -1,
                    //allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/cooperators/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            data_data = data;
                            grid.data('handsontable').loadData(data_data);
                            grid_console.text('Filtered data loaded.');
                            return {results: data};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function (a, b) {
                            return a - b;
                        }); //sort by ID, numerically ascending
                    },
                    formatResult: formatSelect2,
                    formatSelection: formatSelect2
                });

                function formatSelect2(data) {
                    return data.name;
                }

                function clearChangedRowIndices() {
                    changedRowIndices.length = 0;
                }

                grid.parent().find('button[name=load]').click(function () {
                    var button_state = $(this).button('loading');
                    loading.show();
                    $.ajax({
                        url: '/mercuryservices/cooperators/',
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data);
                            //grid.data('handsontable').sort(0);
                            grid_console.text('Data reloaded.');
                            loading.hide();
                            button_state.button('reset');
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve data to reload.");
                            loading.hide();
                            button_state.button('reset');
                        }
                    });
                    clearChangedRowIndices();
                });

                grid.parent().find('button[name=add]').click(function () {
                    if (addClicked) {
                        addClicked = false;
                        $("#form_add").hide();
                    }
                    else {
                        addClicked = true;
                        $("#form_add").show();
                    }
                });

                grid.parent().find('button[name=delete]').click(function () {
                    var button_state = $(this).button('loading');
                    loading.show();
                    if (typeof selectionRowIndices[0] == 'undefined') {grid_console.text('There are no selected rows to delete!'); loading.hide(); button_state.button('reset'); return false;}
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataObject = {"id": thisDataRow[0]};
                    var changedDataJSON = JSON.stringify(thisDataObject);
                    $.ajax({
                        url: "{% url 'merlin:cooperators_delete' %}",
                        data: changedDataJSON,
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            if (jqXHRequest.status === 204) {
                                grid.parent().find('button[name=load]').click();
                                grid_console.text('Data deleted.');
                                loading.hide();
                                button_state.button('reset');
                            }
                            else {
                                grid.parent().find('button[name=load]').click();
                                grid_console.text(textStatus + ': Delete error: ' + jqXHRequest.statusText + ', code: ' + jqXHRequest.status + '.');
                                loading.hide();
                                button_state.button('reset');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                            loading.hide();
                            button_state.button('reset');
                        }
                    });
                });

                grid.parent().find('button[name=save]').click(function () {
                    var button_state = $(this).button('loading');
                    loading.show();
                    var changedDataArray = [];
                    // if there are no changed rows, notify the user and stop the submission
                    if (typeof changedRowIndices == 'undefined' || changedRowIndices.length < 1) {grid_console.text('There are no changed rows to save!'); validTable = false; loading.hide(); button_state.button('reset'); return false;}
                    // otherwise loop through all changed rows
                    $.each(changedRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataObject = {};
                        for (var i = 0; i < thisDataRow.length; i++) {
                            if (thisDataRow[i] == null && i != 4 && i != 5 && i != 9) {
                                thisDataRow[i] = "";
                            }
                            thisDataObject[objectFields[i]] = thisDataRow[i];
                        }
                        changedDataArray.push(thisDataObject);
                        // if we made it through the various validations above, then the table must be valid
                        validTable = true;
                    });
                    // if table is valid, submit the POST request, otherwise skip it (implying table is invalid)
                    if(validTable) {
                        var changedDataJSON = JSON.stringify(changedDataArray);
                        $.ajax({
                            url: "{% url 'merlin:cooperators_update' %}",
                            data: changedDataJSON,
                            dataType: 'json',
                            contentType: "application/json",
                            type: 'POST',
                            success: function (data, textStatus, jqXHRequest) {
                                var content_type = jqXHRequest.getResponseHeader("content-type");
                                // if the content-type is plain text, then it's a custom message from our Django view
                                if (content_type.indexOf('text') > -1) {
                                    grid_console.text(data);
                                    loading.hide();
                                    button_state.button('reset');
                                }
                                // otherwise, it's JSON from the REST Services
                                else if (jqXHRequest.status === 200) {
                                    grid.parent().find('button[name=load]').click();
                                    grid_console.text(textStatus + ': Data saved.');
                                    loading.hide();
                                    button_state.button('reset');
                                }
                                else {
                                    grid_console.text(textStatus + ': Save error: ' + jqXHRequest.statusText + ', code: ' + jqXHRequest.status + '.');
                                    loading.hide();
                                    button_state.button('reset');
                                }
                            },
                            error: function (jqXHRequest, textStatus, errorThrown) {
                                grid_console.text(errorThrown + ": " + textStatus);
                                loading.hide();
                                button_state.button('reset');
                            }
                        });
                    }
                    clearChangedRowIndices();
                });

            });
        </script>

    </div>

{% endblock %}