{% extends 'merlin/base.html' %}

{% block body_block %}
<div style="padding:10px">
	<h1>Login to Mercury Lab</h1>

	<div class="container">
	<form class="form-horizontal col-lg-4" id="login_form" method="post" action={% url 'merlin:login' %}>
		<h2 class="form-signin-heading">Please sign in</h2>
		{% csrf_token %}

		{% if bad_details %}
		<p><strong>Your username and/or password were incorrect.</strong></p>
		{% elif disabled_account %}
		<p><strong>Your Mercury Lab account is currently disabled; we can't log you in!</strong></p>
		{% endif %}

		Username: <input class="form-control" type="text" placeholder="Username" name="username" id="username" value="" size="50" /><br />
		Password: <input  class="form-control" type="password" placeholder="Password" name="password" id="password" value="" size="50" /><br />

{#        <input type="hidden" name="next" value="/merlin/" />#}
		<button type="submit" class="btn btn-default">Sign in</button>
	</form>
	</div>
</div>
{% endblock %}