
<ul class="nav nav-list">
    <li><a href="/merlin/sample_login/">Sample Login</a></li>
    <li><a href="/merlin/sample_search/">Sample Search</a></li>
    <li><a href="/merlin/result_search/">Result Search</a></li>
    <li><a href="/merlin/bottles/">Bottles</a></li>
    <li><a href="/merlin/acids/">Acids</a></li>
    <li><a href="/merlin/brominations/">Brominations</a></li>
    <li><a href="/merlin/blankwaters/">Blank Waters</a></li>
    <li><a href="/merlin/cooperators/">Cooperators</a></li>
    <li><a href="/merlin/projects/">Projects</a></li>
    <li><a href="/merlin/sites/">Sites</a></li>
</ul>