
<ul class="nav nav-list">
    <li><a href="{% url 'merlin:sample_login' %}">Sample Login</a></li>
    <li><a href="{% url 'merlin:samples_search' %}">Samples Search</a></li>
    <li><a href="{% url 'merlin:results_search' %}">Results Search</a></li>
    <li><a href="{% url 'merlin:methodqualityassurances' %}">Method QA</a></li>
    <li><a href="{% url 'merlin:balanceverifications' %}">Balance Verifications</a></li>
    <li><a href="{% url 'merlin:bottles' %}">Bottles</a></li>
    <li><a href="{% url 'merlin:acids' %}">Acids</a></li>
    <li><a href="{% url 'merlin:brominations' %}">Brominations</a></li>
    <li><a href="{% url 'merlin:blankwaters' %}">Blank Waters</a></li>
    <li><a href="{% url 'merlin:cooperators' %}">Cooperators</a></li>
    <li><a href="{% url 'merlin:projects' %}">Projects</a></li>
    <li><a href="{% url 'merlin:sites' %}">Sites</a></li>
    {% if request.session.is_staff %}
    <li><a href="{% url 'merlin:projectssites' %}">Projects-Sites</a></li>
    <li><a href="{% url 'merlin:results_count_projects' %}">Report Projects Results Count</a></li>
    <li><a href="{% url 'merlin:results_count_nawqa' %}">Report NAWQA Results Count</a></li>
    <li><a href="{% url 'merlin:samples_nwis_report' %}">Report NWIS Samples</a></li>
    <li><a href="{% url 'merlin:results_nwis_report' %}">Report NWIS Results</a></li>
    <li><a href="{% url 'merlin:results_cooperator_report' %}">Report Cooperator Results</a></li>
    {% endif %}
</ul>
