{% extends 'merlin/base.html' %}
{% block body_block %}

    <div id="loading"></div>
    <div style="padding:10px">
{#        <pre id="debug_console" class="console" style="width:600px"></pre>#}
        <pre id="grid_console" class="console" style="width:600px"></pre>
        <p><input class="form-control" id="select_field" type="hidden" placeholder="Select for sample name." style="width:600px"/></p>
        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:593px;height:30px;font-size:14px;"/>
                    </li>
                </ul>
            </div>
        </p>
        <p>
            <button type="button" class="btn btn-primary" data-loading-text="Saving..." name="save">Save</button>
            <button type="button" class="btn btn-default" data-loading-text="Inserting..." name="insertRows">Insert 8 Blank Rows</button>
            <button type="button" class="btn btn-danger" data-loading-text="Deleting..." name="delete">Delete Rows</button>
            <label for="lookupContainers" style="margin-left:105px">Lookup Container IDs</label>
            <input type="checkbox" name="lookupContainers" id="lookupContainers" />
        </p>
        <div class="panel-default">
            <form class="form-inline">
                <div class="form-group">
                    <label for="project_name">Project Name</label><br />
                    <input class="input-block-level" id="project_name" type="text" style="width:400px">
                </div>
                <div class="form-group" style="display:none;">
                    <label for="project_id">Project ID</label><br />
                    <input class="input-block-level" id="project_id" type="text" style="width:100px">
                </div>
                <div class="form-group">
                    <label for="date_received">Date Received</label><br />
                    <input class="input-block-level" id="date_received">
                </div>
                <div class="form-group">
                    <label for="lab_processing">Lab Processing</label><br />
                    <select class="input-block-level" id="lab_processing" style="width:400px;height:26px;"></select>
                </div>
            </form>
        </div>
        <br />
        <div id="grid" data-projects="{{ projects }}" data-processings="{{ processings }}" data-mediums="{{ mediums }}" data-analyses="{{ analyses }}" data-isotopeflags="{{ isotope_flags }}" data-filters="{{ filters }}" data-preservations="{{ preservations }}" ></div>


		<script>
            $(document).ready(function() {

				var loading = $('#loading');
				loading.hide();

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var validTable = false;
                var grid = $('#grid');
                var grid_console = $("#grid_console");
                var debug_console = $("#debug_console");
                var debug_text = "";
                // move grid to bottom of stack so that it doesn't cover up the sample header dropdown fields
                grid.css("z-index", "0");

                // lookup data containers
                var data_projects = JSON.parse(grid.attr('data-projects'));
                var data_processings = JSON.parse(grid.attr('data-processings'));
                var data_sites;
                var data_mediums = JSON.parse(grid.attr('data-mediums'));
                for (var key in data_mediums) {
                    var item = data_mediums[key];
                    item.display_text = item.nwis_code + " - " + item.medium;
                }
                var data_analyses = JSON.parse(grid.attr('data-analyses'));
                var data_isotopeflags = JSON.parse(grid.attr('data-isotopeflags'));
                data_isotopeflags.sort(function (a, b) {
                    var textA = a.isotope_flag.toUpperCase();
                    var textB = b.isotope_flag.toUpperCase();
                    return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
                }); //sort alphabetically
                var data_filters = JSON.parse(grid.attr('data-filters'));
                var data_preservations = JSON.parse(grid.attr('data-preservations'));

                // some handsontable helper arrays
                var objectFields = ["site", "skip_site_code", "skip_date", "sample_date_time", "depth", "length", "replicate", "comment", "bottle", "medium_type", "analysis_type", "isotope_flag", "filter_type", "volume_filtered", "preservation_type", "preservation_acid", "preservation_volume", "preservation_comment"];
                var changedRowIndices = [];
                var selectionRowIndices = [];

                // some handsontable helper validator functions
                var validateRequired = function(value, callback) {
                    if (value !== null && value !== "" && value !== 0) {callback(true);}
                    else {callback(false);}
                };
                var validateRequiredZeroOK = function(value, callback) {
                    if (value !== null && value !== "") {callback(true);}
                    else {callback(false);}
                };
                var validateTime = function(value, callback) {
                    // allow null or empty while editing (this null will instead be caught on Save event)
                    if (value === null || value === "") {callback(true);}
                    // convert the string to number to allow math operations; also trims off leading zeroes
                    value = Number(value);
                    switch (value.toString().length) {
                        case 2: // between 12:09am and 1:00am (00:xx)
                            // minutes must be less than 60
                            if(value < 60){callback(true);}
                            else {callback(false);}
                            break;
                        case 3: // between 1am and 10am (1:xx thru 9:xx)
                            // convert to string to extract the minutes, then convert back to number to test if less than 60 (all single digit hours (1 thru 9) are allowed and thus not tested)
                            if(Number(value.toString().substring(1,3)) < 60){callback(true);}
                            else {callback(false);}
                            break;
                        case 4: // after 10am (10:xx thru xx:xx)
                            // convert to string to separately extract hours and minutes, then convert back to number to test if less than 24 and 60, respectively
                            if(Number(value.toString().substring(0,2)) < 24 && Number(value.toString().substring(2,4)) < 60){callback(true);}
                            else {callback(false);}
                            break;
                        default: // any other cases (1 digit, 00:00 thru 00:09) are allowed; column is already limited to 4 digits in the constructor, so no need to test for cases of 5 or more digits
                            {callback(true);}
                            break;
                    }
                };

                var dateToday = new Date(); //.toISOString().split("T")[0];
                var setDefaultValues = function(row) {
                    grid.handsontable('setDataAtCell', row, 5, -999);
                    grid.handsontable('setDataAtCell', row, 6, 1);
                    grid.handsontable('setDataAtCell', row, 11, 'NA');
                };

{#                var adkd_undef_count = 0;#}

                var grid_options = {
                    contextMenu: false,
                    startRows: 8,
                    manualColumnResize: true,
                    manualRowResize: true,
                    invalidCellClassName: 'customHtInvalid',
                    search: {searchResultClass: 'customHtSearchResult'},
                    columns: [
                        {title: 'Site Name', width: 210, type: 'autocomplete', strict: true, validator: validateRequired},
                        {title: 'Site ID', width: 100, type: 'autocomplete', strict: true},
                        // Date Time as separate columns is temporary until a single column datetime editor can be found for handsontable
                        {title: 'Date', width: 100, type: 'date', dateFormat: 'mm/dd/y', validator: validateRequired, maxDate: 0},
                        {title: 'Time', width: 55, type: 'numeric', validator: validateTime, allowInvalid: false},
                        {title: 'Depth', width: 45, type: 'numeric', validator: validateRequiredZeroOK, format: '0.00'},
                        {title: 'Length', width: 70, type: 'numeric', format: '0.00'},
                        {title: 'Rep', width: 35, type: 'numeric', validator: validateRequired},
                        {title: 'Sample Comments', width: 130, type: 'text'},
                        //{title: 'Container ID', width: 110, type: 'autocomplete', strict: true, validator: validateRequired,  source: function (query, process) {
                        //    getValuesAjax('/mercuryservices/bottles/', 'bottle_unique_name', query, process)}},
                        {title: 'Container ID', width: 120, type: 'text', validator: validateRequired},
                        {title: 'Medium', width: 180, type: 'autocomplete', strict: true, validator: validateRequired, source: getValuesDom(data_mediums,"display_text")},
                        {title: 'Analysis', width: 80, type: 'autocomplete', strict: true, validator: validateRequired, source: getValuesDom(data_analyses,"analysis")},
                        {title: 'Isotope', width: 60, type: 'dropdown', validator: validateRequired, source: getValuesDom(data_isotopeflags,"isotope_flag")}, //type: 'autocomplete', strict: true, validator: validateRequired, source: getValuesDom(data_isotopeflags,"isotope_flag"), validator: validateRequired},
                        {title: 'Filter', width: 130, type: 'autocomplete', strict: true, source: getValuesDom(data_filters,"filter")},
                        {title: 'Filter Vol', width: 65, type: 'numeric', format: '0.00'},
                        {title: 'Preservation', width: 130, type: 'autocomplete', strict: true, source: getValuesDom(data_preservations, "preservation")},
                        {title: 'Acid', width: 110, type: 'autocomplete', strict: true,  source: function (query, process) {
                            getValuesAjax('/mercuryservices/acids/', 'code', query, process)}},
                        {title: 'Acid Vol', width: 65, type: 'numeric', format: '0.00'},
                        {title: 'Preservation Comments', width: 160, type: 'text'}
                    ],
                    // define event handlers
                    beforeChange: function(changes, source) {
                        // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the following strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of (first) changed row
                        var changedRow = changes[0][0];
                        // get index of (first) changed column
                        var changedCol = changes[0][1];
                        // get value of (first) changed cell
                        var changedVal = changes[0][3];

                        // remember the indices of all changed rows
                        if (typeof source !== 'undefined') {
                            // for all changed cells, get the changed rows
                            for (var i = 0; i < changes.length; i++) {
                                // get the row of this cell
                                var thisRow = changes[i][0];
                                // find index of this row in the changed rows array
                                var changedRowIndex = changedRowIndices.indexOf(thisRow);
                                // if not in the array (index == -1), add it to the array, otherwise ignore
                                if (changedRowIndex == -1) {
                                    changedRowIndices.push(thisRow);
                                }
                            }
                        }

                        // update dependent columns when a value in a parent column is changed
                        if (source == 'edit' || source == 'paste' || source == 'autofill') {
                            // when site name or site code is changed to a non-null, non-blank value
                            if ((changedCol == 0 || changedCol == 1) && changedVal !== null && changedVal !== "" && ($('#project_name').val() != "")) {
                                var siteValue;
                                if (source == 'edit'  || source == 'paste') {
                                    // if site name is changed
                                    if (changedCol == 0) {
                                        // update site code to match site name
                                        if (typeof data_sites === 'undefined') {siteValue = updateValueAjax('/mercuryservices/sites/', 'name_exact', 'usgs_scode', changedVal);}
                                        else {siteValue = updateValueDom(data_sites, 'name', 'usgs_scode', changedVal);}
                                        grid.handsontable('setDataAtCell', changedRow, 1, siteValue);
                                    }
                                    // if site ID is changed
                                    if (changedCol == 1) {
                                        // update site name to match site code
                                        if (typeof data_sites === 'undefined') {siteValue = updateValueAjax('/mercuryservices/sites/', 'usgs_scode', 'name', changedVal);}
                                        else {siteValue = updateValueDom(data_sites, 'usgs_scode', 'name', changedVal);}
                                        grid.handsontable('setDataAtCell', changedRow, 0, siteValue);
                                    }
                                }
                                if (source == 'autofill') {
                                    // get range of autofilled rows
                                    var selectedRows = grid.handsontable('getInstance').getSelectedRange();
                                    var firstSelectedRow = selectedRows['from']['row'];
                                    var lastSelectedRow = selectedRows['to']['row'];
                                    // for each row in the autofill selection
                                    for (var i = firstSelectedRow; i <= lastSelectedRow; i++) {
                                        // if site name is changed
                                        if (changedCol == 0) {
                                            // update site code to match site name
                                            if (typeof data_sites === 'undefined') {siteValue = updateValueAjax('/mercuryservices/sites/', 'name_exact', 'usgs_scode', changedVal);}
                                        else {siteValue = updateValueDom(data_sites, 'name', 'usgs_scode', changedVal);}
                                            grid.handsontable('setDataAtCell', i, 1, siteValue);
                                        }
                                        // if site ID is changed
                                        if (changedCol == 1) {
                                            // update site name to match site code
                                            if (typeof data_sites === 'undefined') {siteValue = updateValueAjax('/mercuryservices/sites/', 'usgs_scode', 'name', changedVal);}
                                            else {siteValue = updateValueDom(data_sites, 'usgs_scode', 'name', changedVal);}
                                            grid.handsontable('setDataAtCell', i, 0, siteValue);
                                        }
                                    }
                                }
                            }
                            // when medium is changed to a non-null, non-blank value
                            if (changedCol == 9 && changedVal !== null && changedVal !== "") {
                                var thisVal = updateValueDom(data_mediums, 'display_text', 'nwis_code', changedVal);
                                // update list of analyses filtered by the selected medium value
                                $.ajax({
                                    url: '/mercuryservices/analyses/',
                                    dataType: 'json',
                                    data: {
                                        nwis_code: thisVal
                                    },
                                    success: function (response) {
                                        // grab just just the values from the object
                                        var values = getValuesDom(response, "analysis");
                                        // get range of selected rows
                                        if (source == 'edit') {
                                            // if there is a previously entered value in this cell, set it to null, otherwise leave it alone (this avoids unnecessary triggering of cell validation)
                                            if (grid.handsontable('getDataAtCell', changedRow, 10) != null) {
                                                grid.handsontable('setDataAtCell', changedRow, 10, null);
                                            }
                                            // get the cell object for the analyses column in this row
                                            var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, 10);
                                            // update the dropdown list of this cell
                                            cellProperties.source = values;
                                        }
                                        if (source == 'autofill' || source == 'paste') {
                                            var selectedRows = grid.handsontable('getInstance').getSelectedRange();
                                            var firstSelectedRow = selectedRows['from']['row'];
                                            var lastSelectedRow = selectedRows['to']['row'];
                                            // for each row in the selection
                                            for (var i = firstSelectedRow; i <= lastSelectedRow; i++) {
                                                // if there is a previously entered value in this cell, set it to null, otherwise leave it alone (this avoids unnecessary triggering of cell validation)
                                                if (grid.handsontable('getDataAtCell', i, 10) != null) {
                                                    grid.handsontable('setDataAtCell', i, 10, null);
                                                }
                                                // get the cell object for the analyses column in this row
                                                var cellProperties = grid.handsontable('getInstance').getCellMeta(i, 10);
                                                // update the dropdown list of this cell
                                                cellProperties.source = values;
                                            }
                                        }

                                    },
                                    error: function (jqXHRequest, textStatus, errorThrown) {
                                        grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve analyses.");
                                    }
                                });
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        // clear the array
                        selectionRowIndices.length = 0;
                        // add the beginning and ending indices
                        selectionRowIndices[0] = r;
                        selectionRowIndices[1] = r2;
                    }
                };
{#                var hooks = Handsontable.hooks.getRegistered();#}
{#                hooks.forEach(function(hook) {#}
{#                    if (hook !== 'modifyRowHeight' && hook !== 'modifyRow' && hook !== 'modifyCol' && hook !== 'afterRenderer' && hook !== 'beforeGetCellMeta' && hook !== 'afterGetCellMeta'#}
{#                            && hook !== 'afterOnCellMouseOver' && hook !== 'modifyColWidth' && hook !== 'afterGetColHeader' && hook !== 'afterScrollHorizontally' && hook !== 'afterScrollVertically'#}
{#                            && hook !== 'beforeDrawBorders') {#}
{#                        grid_options[hook] = function(changes, source) {#}
{#                            var dateNow = new Date();#}
{#                            var thisTime = dateNow.getHours().toString() + ":" + dateNow.getMinutes().toString() + ":" + dateNow.getSeconds().toString();#}
{#                            debug_text = debug_text + "\n" + thisTime + " | hook: " + hook + " | changes: " + changes + " | source: " + source;#}
{#                            debug_console.text(debug_text);#}
{#                            if (hook === 'afterDocumentKeyDown' && typeof source === 'undefined') {#}
{#                                adkd_undef_count++;#}
{#                                grid_console.text("INTERCEPT afterDocumentKeyDown hook, source is undefined, count is " + adkd_undef_count);#}
{#                                //var selectedCell = grid.handsontable('getInstance').getSelected();#}
{#                                //selectedCell.click();#}
{#                            }#}
{#                        }#}
{#                    }#}
{#                });#}
                grid_console.text('Loading data.');
                grid.handsontable(grid_options);
                //grid.data('handsontable').sort(0);
                var rows = grid.handsontable('getInstance').countRows();
                for (var i = 0; i < rows; i++) {
                    setDefaultValues(i);
                }
                grid_console.text('Data loaded.');

                /*Handsontable.hooks.add('afterDocumentKeyDown', function(event) {
                    grid_console.text(event.keyIdentifier);
                });*/

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#project_name").autocomplete({
                    autoFocus: true,
                    source: $.map(data_projects, function(i) {
                        return {
                            label: i.name,
                            value: i.name
                        };
                    }),
                    /*source: function (request, response) {
                        jQuery.get('/mercuryservices/projects/', {
                            name: request.term
                        }, function (data) {
                            data_projects = data;
                            var values = [];
                            $.each(data_projects, function(index, object) {
                                $.each(object, function(key, value) {
                                    if (key == 'name') {
                                        values.push(value);
                                    }
                                });
                            });
                            response(values);
                        });
                    },*/
                    select: function(event, ui){
                        if (ui.item && ui.item.value){
                            var changedVal = ui.item.value;
                            var newValue = updateValueDom(data_projects, 'name', 'accounting_code', changedVal);
                            changedVal = updateValueDom(data_projects, 'name', 'id', ui.item.value);
                            $("#project_id").val(newValue);
                            $.ajax({
                                url: '/mercuryservices/sites/',
                                dataType: 'json',
                                data: {
                                    project: changedVal
                                },
                                success: function (response) {
                                    grid_console.text("success");
                                    // update the local full object collection
                                    data_sites = response['results'];
                                    var names = getValuesDom(data_sites, "name");
                                    var ids = getValuesDom(data_sites, "usgs_scode");
                                    var settings = grid.handsontable('getInstance').getSettings();
                                    settings.columns[0] = {title: 'Site Name', width: 210, type: 'autocomplete', strict: true, validator: validateRequired, source: names};
                                    settings.columns[1] = {title: 'Site ID', width: 100, type: 'autocomplete', strict: true, source: ids};
                                    grid.handsontable('getInstance').updateSettings(settings);
                                    /*var rows = grid.handsontable('getInstance').countRows();
                                    for (var row = 1; row < rows; row++) {
                                        // update the site name dropdown list with just the names
                                        var colToChange = 0;
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(row, colToChange);
                                        cellProperties.source = names;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 1;
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(row, colToChange);
                                        cellProperties.source = ids;
                                        grid.handsontable('getInstance').render();
                                    }*/
                                },
                                error: function (jqXHRequest, textStatus, errorThrown) {
                                    grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve sites.");
                                }
                            });
                        }
                    }
                });

                $("#project_id").autocomplete({
                    autoFocus: true,
                    source: $.map(data_projects, function(i) {
                        return {
                            label: i.id,
                            value: i.id
                        };
                    }),
                    select: function(event, ui){
                        if (ui.item && ui.item.value){
                            var changedVal = ui.item.value;
                            var newValue = updateValueDom(data_projects, 'accounting_code', 'name', changedVal);
                            changedVal = updateValueDom(data_projects, 'id', 'accounting_code', ui.item.value);
                            $("#project_name").val(newValue);
                            $.ajax({
                                url: '/mercuryservices/sites/',
                                dataType: 'json',
                                data: {
                                    project: changedVal
                                },
                                success: function (response) {
                                    grid_console.text("success");
                                    // update the local full object collection
                                    data_sites = response['results'];
                                    var rows = grid.handsontable('getInstance').countRows();
                                    for (var row in rows) {
                                        // update the site name dropdown list with just the values
                                        var colToChange = 0;
                                        var values = getValuesDom(data_sites, "name");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(row, colToChange);
                                        cellProperties.source = values;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 1;
                                        values = getValuesDom(data_sites, "usgs_scode");
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(row, colToChange);
                                        cellProperties.source = values;
                                    }
                                },
                                error: function (jqXHRequest, textStatus, errorThrown) {
                                    grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve sites.");
                                }
                            });
                        }
                    }
                });

                $("#date_received").datepicker({
                    dateFormat: "mm/dd/y",
                    maxDate: 0
                });

                var select_lab_processing = $("#lab_processing");
                for (var i in data_processings) {
                    if (data_processings[i].processing == 'NONE') {
                        var proc_none = new Option(data_processings[i].processing, data_processings[i].id);
                        proc_none.selected = true;
                        select_lab_processing.append(proc_none);
                    }
                    else {
                        select_lab_processing.append(new Option(data_processings[i].processing, data_processings[i].id));
                    }
                }

                grid.parent().find('button[name=insertRows]').click(function () {
                    var button_state = $(this).button('loading');
                    grid.data('handsontable').alter('insert_row', null, 8);
                    var rows = grid.handsontable('getInstance').countRows();
                    for (var i = 0; i < rows; i++) {
                        if (grid.handsontable('getInstance').isEmptyRow(i)) {
                            setDefaultValues(i);
                        }
                    }
                    grid_console.text('Inserted Rows.');
                    button_state.button('reset');
                });

                grid.parent().find('button[name=delete]').click(function () {
                    var button_state = $(this).button('loading');
                    var selectedRows = grid.handsontable('getInstance').getSelectedRange();
                    if (typeof selectedRows == 'undefined') {grid_console.text('There are no selected rows to delete!'); button_state.button('reset'); return false;}
                    grid.data('handsontable').alter('remove_row', selectionRowIndices[0], (selectionRowIndices[1] != selectionRowIndices[0]  ? (selectionRowIndices[1] - selectionRowIndices[0]) + 1 : 1));
                    grid_console.text('Deleted Rows.');
                    button_state.button('reset');
                });

                $('#lookupContainers').change(function () {
                    var settings = grid.handsontable('getInstance').getSettings();
                    if (this.checked) {
                        settings.columns[8] = {title: 'Container ID', width: 110, type: 'autocomplete', strict: true, validator: validateRequired,  source: function (query, process) {
                            getValuesAjax('/mercuryservices/bottles/', 'bottle_unique_name', query, process)}};
                        grid.handsontable('getInstance').updateSettings(settings);
                    }
                    else {
                        settings.columns[8] = {title: 'Container ID', width: 110, type: 'text', validator: validateRequired};
                        grid.handsontable('getInstance').updateSettings(settings);
                    }
                });

                // when the save button is clicked, loop through the list of changed rows and build a JSON object containing the changed rows
                grid.parent().find('button[name=save]').click(function () {
                    var button_state = $(this).button('loading');
                    // an array container for storing the changed data rows to send to the database
                    var changedDataArray = [];
                    // grab the data from the sample header cells; if either Project ID or Date Received doesn't have a value, notify the user that this is a required field, and stop the submission
                    var projectID = $('#project_name').val();
                    if (!projectID) {grid_console.text('Project Name is required!'); validTable = false; button_state.button('reset'); return false;}
                    projectID = getIdDom(data_projects,'name',$('#project_name').val());
                    if (projectID === null) {grid_console.text('Project Name must be a valid choice!'); validTable = false; button_state.button('reset'); return false;}
                    var dateReceived = $('#date_received').val();
                    var gooddate_received_string;
                    var gooddate_received;
                    if (!dateReceived) {grid_console.text('Date Received is required!'); validTable = false; button_state.button('reset'); return false;}
                    if (dateRegEx.test(dateReceived)) {
                        if (makeYear(dateReceived)!= null && makeMonth(dateReceived)!= null && makeDay(dateReceived) != null) {
                            gooddate_received_string = makeYear(dateReceived) + "-" + makeMonth(dateReceived) + "-" + makeDay(dateReceived);
                            gooddate_received = new Date(makeYear(dateReceived), makeMonth(dateReceived)-1, makeDay(dateReceived));
                            if (gooddate_received > dateToday) {
                                {grid_console.text('Date Received cannot be a future date!'); validTable = false; button_state.button('reset'); return false;}
                            }
                        }
                        else {grid_console.text('There is a problem with Received Date. Please contact the administrator.'); validTable = false; button_state.button('reset'); return false;}
                    }
                    else {grid_console.text('Date Received is badly formed. Expecting a date in mm/dd/yy format but found ' + dateReceived + '!'); validTable = false; button_state.button('reset'); return false;}
                    //var labProcessing = getIdDom(data_processings,'processing',$('#lab_processing').val());
                    var labProcessing = Number($('#lab_processing').val());
                    // if there are no changed rows, notify the user and stop the submission
                    if (typeof changedRowIndices == 'undefined' || changedRowIndices.length < 1) {grid_console.text('Table is empty!'); validTable = false; button_state.button('reset'); return false;}
                    // otherwise loop through all rows
                    var allRows = grid.handsontable('getInstance').countRows();
                    for (var row = 0; row < allRows; row++) {
                        // grab all the data for this row
                        var thisDataRow = grid.data('handsontable').getDataAtRow(row);
                        // check if this row still has (non-default) data; it's possible the user cleared the row after entering data, in which case we no longer want it
                        // here, we're only checking for a value in the eighth column (Container ID (Bottle)), which is a required field; if it is empty, it is safe to assume that any...
                        // ...possible data in the rest of the row doesn't need to be checked, because the row can't be saved without a valid value in the first column
                        if (thisDataRow[8] !== null && thisDataRow[8] !== "" && thisDataRow[8] !== 0 && typeof thisDataRow[8] !== 'undefined') {
                            // an object container for the data in this row
                            var thisDataObject = {};
                            // add the sample header object properties to this object
                            thisDataObject['project'] = Number(projectID);
                            thisDataObject['received_date'] = gooddate_received_string;
                            if (labProcessing !== null) {thisDataObject['lab_processing'] = labProcessing;}
                            var thisID;
                            // convert each table cell in this row into an object property and add to this object
                            for (var i = 0; i < thisDataRow.length; i++) {
                                switch(i){
                                    case 0: // site name
                                        // if it doesn't have a value, notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Site Name is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            thisID = getIdDom(data_sites,'name',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Site Name must be a valid choice in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 1: // site ID
                                        //// if it doesn't have a value, notify the user that this is a required field, and stop the submission
                                        //if (!thisDataRow[i]) {grid_console.text('Site ID is required!'); validTable = false; button_state.button('reset'); return false;}
                                        //else {thisDataObject[objectFields[i]] = getIdDom(data_sites,'usgs_scode',thisDataRow[i]);}

                                        // do nothing with this column
                                        break;
                                    case 2: // date
                                        // if it doesn't have a value, notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Sample Date is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        // if it has a value but with bad formatting, notify the user, and stop the submission
                                        if (!(dateRegEx.test(thisDataRow[i]))) {grid_console.text('Sample Date is badly formed in row ' + (row + 1) + '. Expecting a date in mm/dd/yy format but found ' + thisDataRow[i] + '!'); validTable = false; button_state.button('reset'); return false;}
                                        break;
                                    case 3: // time (used here to combine date and time)
                                        // if it has a value, properly format it as a time, otherwise notify the user that this is a required field, and stop the submission
                                        if (thisDataRow[i] === null || thisDataRow[i] === "") {grid_console.text('Time is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            var changedVal = thisDataRow[i].toString();
                                            var newValue;
                                            switch (changedVal.length) {
                                                case 1:
                                                    newValue = "00:0" + changedVal;
                                                    break;
                                                case 2:
                                                    newValue = "00:" + changedVal;
                                                    break;
                                                case 3:
                                                    newValue = "0" + changedVal.substring(0, 1) + ":" + changedVal.substring(1);
                                                    break;
                                                case 4:
                                                    newValue = changedVal.substring(0, 2) + ":" + changedVal.substring(2);
                                                    break;
                                                default:
                                                    // user must have entered an invalid time, so set it to midnight
                                                    newValue = "00:00";
                                                    break;
                                            }
                                            var baddate_sample = thisDataRow[i - 1];
                                            if (makeYear(baddate_sample)!= null && makeMonth(baddate_sample)!= null && makeDay(baddate_sample) != null) {
                                                var gooddate_sample_string = makeYear(baddate_sample) + "-" + makeMonth(baddate_sample) + "-" + makeDay(baddate_sample);
                                                var gooddate_sample = new Date(makeYear(baddate_sample), makeMonth(baddate_sample)-1, makeDay(baddate_sample));
                                                if (gooddate_sample > dateToday) {
                                                    {grid_console.text('Sample Date cannot be a future date!'); validTable = false; button_state.button('reset'); return false;}
                                                }
                                                if (gooddate_sample > gooddate_received) {
                                                    {grid_console.text('Sample Date cannot be after Date Received!'); validTable = false; button_state.button('reset'); return false;}
                                                }
                                                var dateTodayLastYear = new Date();
                                                //dateTodayLastYear.setTime(dateTodayLastYear.valueOf() - (365 * 24 * 60 * 60 * 1000));
                                                dateTodayLastYear.setFullYear(dateTodayLastYear.getFullYear() - 1);
                                                if (dateTodayLastYear > gooddate_sample) {
                                                    grid_console.text('Sample Date is more than one year before today in row ' + (row + 1) + '!');
                                                    var confirmOldDate = confirm("WARNING: Sample Date is more than one year before today in row " + (row + 1) + "!\nContinue and Save with the date entered, or Cancel?");
                                                    if (confirmOldDate == false) {validTable = false; button_state.button('reset'); return false;}
                                                }
                                                thisDataObject[objectFields[i]] = gooddate_sample_string + " " + newValue + ":00";
                                            }
                                            else {grid_console.text('There is a problem with Sample Date in row ' + (row + 1) + '. Please contact the administrator.'); validTable = false; button_state.button('reset'); return false;}
                                            //thisDataObject[objectFields[i]] = thisDataRow[i-1]+" "+newValue+":00";
                                        }
                                        break;
                                    case 4: // depth
                                        if (thisDataRow[i] !== 0) {
                                            if (!thisDataRow[i]) {grid_console.text('Depth is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        }
                                        thisDataObject[objectFields[i]] = (thisDataRow[i] % 1 === 0 ? (thisDataRow[i].toFixed(1)) : thisDataRow[i]);
                                        break;
                                    case 6: // rep
                                        if (thisDataRow[i] !== 1) {
                                            if (!thisDataRow[i]) {grid_console.text('Rep is required in row ' + (index + 1) + '!'); validTable = false; loading.hide(); button_state.button('reset'); return false;}
                                        }
                                        thisDataObject[objectFields[i]] = thisDataRow[i];
                                        break;
                                    case 7: // sample comments
                                        if (thisDataRow[i] == null) {
                                            thisDataRow[i] = "";
                                        }
                                        thisDataObject[objectFields[i]] = thisDataRow[i];
                                        break;
                                    case 8: // bottle (container)
                                        // if it has a value, look up and return the ID, otherwise notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Container ID is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            thisID = updateValueAjax('/mercuryservices/bottles/', 'bottle_unique_name', 'id', thisDataRow[i]);
                                            if (thisID == "" || typeof thisID === 'undefined') {grid_console.text('Container ID must be a valid choice in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 9: // medium
                                        // if it has a value, look up and return the ID, otherwise notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Medium is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            thisID = getIdDom(data_mediums,'display_text',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Medium must be a valid choice in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 10: // analysis
                                        // if it has a value, look up and return the ID, otherwise notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Analysis is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            thisID = getIdDom(data_analyses,'analysis',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Analysis must be a valid choice in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 11: // isotope
                                        // if it has a value, look up and return the ID, otherwise notify the user that this is a required field, and stop the submission
                                        if (!thisDataRow[i]) {grid_console.text('Isotope is required in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                        else {
                                            thisID = getIdDom(data_isotopeflags,'isotope_flag',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Isotope must be a valid choice in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 12: // filter
                                        // if it has a value, look up and return the ID, otherwise skip this field (won't be included in submission to database)
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "" && thisDataRow[i] !== 0 && typeof thisDataRow[i] !== 'undefined') {
                                            thisID = getIdDom(data_filters,'filter',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Filter must be a valid choice, or empty, in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 14: // preservation
                                        // if it has a value, look up and return the ID, otherwise skip this field (won't be included in submission to database)
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "" && thisDataRow[i] !== 0 && typeof thisDataRow[i] !== 'undefined') {
                                            thisID = getIdDom(data_preservations,'preservation',thisDataRow[i]);
                                            if (thisID === null) {grid_console.text('Preservation must be a valid choice, or empty, in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 15: // acid
                                        // if it has a value, look up and return the ID, otherwise skip this field (won't be included in submission to database)
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "" && thisDataRow[i] !== 0 && typeof thisDataRow[i] !== 'undefined') {
                                            thisID = updateValueAjax('/mercuryservices/acids/', 'code_exact', 'id', thisDataRow[i]);
                                            if (thisID == "" || typeof thisID === 'undefined') {grid_console.text('Acid must be a valid choice, or empty, in row ' + (row + 1) + '!'); validTable = false; button_state.button('reset'); return false;}
                                            thisDataObject[objectFields[i]] = thisID;
                                        }
                                        break;
                                    case 17: // preservation comments
                                        if (thisDataRow[i] == null) {
                                            thisDataRow[i] = "";
                                        }
                                        thisDataObject[objectFields[i]] = thisDataRow[i];
                                        break;
                                    default: // all the rest
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "") {
                                            thisDataObject[objectFields[i]] = thisDataRow[i];
                                        }
                                        break;
                                }
                            }
                            // add the new row object to the array
                            changedDataArray.push(thisDataObject);
                        }
                        // if we made it through the various validations above, then the table must be valid
                        validTable = true;
                    }
                    // if table is valid, submit the POST request, otherwise skip it (implying table is invalid)
                    if(validTable) {
                        // convert the array to a true JSON object
                        var changedDataJSON = JSON.stringify(changedDataArray);
                        // send the entire changed data object to the server via ajax
                        //console.log(changedDataJSON);
                        grid_console.text('Attempting to save data...');
                        $.ajax({
                            url: "{% url 'merlin:samples_create' %}",
                            data: changedDataJSON,
                            dataType: 'json',
                            contentType: "application/json",
                            type: 'POST',
                            success: function (data, textStatus, jqXHRequest) {
                                var content_type = jqXHRequest.getResponseHeader("content-type");
                                // if the content-type is plain text, then it's a custom message from our Django view
                                if (content_type.indexOf('text') > -1) {
                                    grid_console.text(data);

                                }
                                // otherwise, it's JSON from the REST Services
                                else if (jqXHRequest.status === 200) {
                                    grid_console.text(textStatus+': Data saved.');
                                    // the data was saved to the database, so empty the table
                                    var rows = grid.handsontable('getInstance').countRows();
                                    grid.data('handsontable').alter('remove_row', 0, rows);
                                    grid.data('handsontable').alter('insert_row', null, 8);
                                    rows = grid.handsontable('getInstance').countRows();
                                    for (var i = 0; i < rows; i++) {
                                        setDefaultValues(i);
                                    }
                                }
                                else {
                                    grid_console.text(textStatus+': Save error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                                }
                            },
                            error: function (jqXHRequest, textStatus, errorThrown) {
                                grid_console.text(errorThrown + ": " + textStatus + ": Couldn't save the table.");
                            }
                        });
                    }
                    button_state.button('reset');
                });

            });
        </script>

    </div>

{% endblock %}