{% extends 'merlin/base.html' %}
{% block body_block %}

    <div style="padding:10px">
        <p>
            <button type="button" class="btn btn-default" name="add">Add New Site</button>
        </p>
        <div id="form_add" class="panel-default" style="display:none;">
            <h3>Create Site</h3>
            <form class="form-inline" style="border:1px solid;width:1100px;padding:4px;">
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="name">Name</label><br />
                    <input class="input-block-level" name="name" type="text" style="width:500px">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="usgs_sid">USGS SID</label><br />
                    <input class="input-block-level" name="usgs_sid" type="text" style="width:500px">
                </div>
                <br />
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="usgs_scode">USGS SCode</label><br />
                    <input class="input-block-level" name="usgs_scode" type="text">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="description">Description</label><br />
                    <input class="input-block-level" name="description" type="text" style="width:830px">
                </div>
                <br />
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="latitude">Latitude</label><br />
                    <input class="input-block-level" name="latitude" type="number">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="longitude">Longitude</label><br />
                    <input class="input-block-level" name="longitude" type="number">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="datum">Datum</label><br />
                    <input class="input-block-level" name="datum" type="text">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="method">Method</label><br />
                    <input class="input-block-level" name="method" type="text">
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="site_status">Site Status</label><br />
                    <select class="input-block-level" name="site_status" style="height:26px">
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="INACTIVE">INACTIVE</option>
                    </select>
                </div>
                <div class="form-group" style="padding:2px;text-align:center">
                    <label for="nwis_customer_code">NWIS Customer Code</label><br />
                    <input class="input-block-level" name="nwis_customer_code" type="text">
                </div>
            </form>
            <br />
            <button type="button" class="btn btn-primary" data-loading-text="Saving..." name="addSave">Save</button>
        </div>
        <br />
        <pre id="grid_console" class="console" style="width:600px"></pre>
        <p><input id="select_field" type="hidden" placeholder="Filter by site name." style="width:600px"/></p>
        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:393px;height:30px;font-size:14px;"/>
                    </li>
                </ul>
            </div>
        <!-- <p><input id="search_field" type="search" placeholder="Highlight in table." style="width:600px; border:1px solid darkgray; height:42px"/></p> -->
        <br /><br />
        <p>
            {% if request.session.is_staff %}
            <button type="button" class="btn btn-warning" data-loading-text="Saving..." name="save">Save</button>
            <button type="button" class="btn btn-danger" data-loading-text="Deleting..." name="delete">Delete Row</button>
            {% endif %}
            <button type="button" class="btn btn-default" data-loading-text="Reloading..." name="load">Reload Table</button>
            <button type="button" class="btn btn-default" data-loading-text="Getting Previous..." name="prev">Previous Page</button>
            <button type="button" class="btn btn-default" data-loading-text="Getting Next..." name="next">Next Page</button>
            <span id="page"></span>
        </p>

        <div id="grid" data-data="{{ data }}" ></div>

        <script>
            $(document).ready(function() {

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var validTable = false;
                var dateToday = new Date(); //toISOString().split("T")[0];
                var objectFields = ["id", "name", "usgs_sid", "usgs_scode", "description", "latitude", "longitude", "datum", "method", "site_status", "nwis_customer_code", "projects"];
                var currentPage = 1;
                var addClicked = false;
                var grid = $('#grid');
                var data_data = JSON.parse(grid.attr("data-data"));
                var resultPages = Math.ceil(data_data['count'] / 100);
                var grid_console = $("#grid_console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    data: data_data.results,
                    manualColumnResize: true,
                    manualRowResize: true,
                    invalidCellClassName: 'customHtInvalid',
                    search: {searchResultClass: 'customHtSearchResult'},
                    columns: [
                        {title: "ID", data: "id", readOnly: true, width: 1},
                        {title: "Name", data: "name", width: 250},
                        {title: "USGS SID", data: "usgs_sid", width: 250},
                        {title: "USGS SCode", data: "usgs_scode", width: 150},
                        {title: "Description", data: "description", width: 440},
                        {title: "Latitude", data: "latitude", width: 80},
                        {title: "Longitude", data: "longitude", width: 80},
                        {title: "Datum", data: "datum", width: 60},
                        {title: "Method", data: "method", width: 250},
                        {title: "Site Status", data: "site_status", width: 80},
                        {title: "NWIS Customer Code", data: "nwis_customer_code", width: 150},
                        {title: "Projects", data: "projects", width: 1}
                    ],
                    columnSorting: true,
                    beforeChange: function(changes, source) {
                         // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the following strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of changed row
                        var changedRow = changes[0][0];

                        // remember the indices of all changed rows
                        if (source != 'loadData') {
                            // find index of this row in the changed rows array
                            var changedRowIndex = changedRowIndices.indexOf(changedRow);
                            // if not in the array (index == -1), add it to the array, otherwise ignore
                            if (changedRowIndex == -1){
                                changedRowIndices.push(changedRow);
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        // clear the array
                        selectionRowIndices.length = 0;
                        // add the beginning and ending indices
                        selectionRowIndices[0] = r;
                        selectionRowIndices[1] = r2;
                    }
                });
                //grid.data('handsontable').sort(0);
                $('#page').html("Page " + currentPage + " of " + resultPages);
                grid_console.text('Data loaded.');

                var form_add = $("#form_add");
                form_add.find('button[name=addSave]').click(function() {
                    var button_state = $(this).button('loading');
                    var thisDataObject = {};
                    thisDataObject['name'] = form_add.find('input[name=name]').val().toUpperCase();
                    thisDataObject['usgs_sid'] = form_add.find('input[name=usgs_sid]').val().toUpperCase();
                    thisDataObject['usgs_scode'] = form_add.find('input[name=usgs_scode]').val().toUpperCase();
                    thisDataObject['description'] = form_add.find('input[name=description]').val().toUpperCase();
                    thisDataObject['latitude'] = Number(form_add.find('input[name=latitude]').val());
                    thisDataObject['longitude'] = Number(form_add.find('input[name=longitude]').val());
                    thisDataObject['datum'] = form_add.find('input[name=datum]').val().toUpperCase();
                    thisDataObject['method'] = form_add.find('input[name=method]').val().toUpperCase();
                    thisDataObject['site_status'] = form_add.find('select[name=site_status]').val().toUpperCase();
                    thisDataObject['nwis_customer_code'] = form_add.find('input[name=nwis_customer_code]').val().toUpperCase();
                    var dataJSON = JSON.stringify(thisDataObject);
                    $.ajax({
                        url: "{% url 'merlin:sites_create' %}",
                        data: dataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            // if the content-type is plain text, then it's a custom message from our Django view
                            if (content_type.indexOf('text') > -1) {
                                grid_console.text(data);
                            }
                            // otherwise, it's JSON from the REST Services
                            else if (jqXHRequest.status === 200) {
                                $(":input", "#form_add").not(":button").val("");
                                form_add.parent().find('button[name=add]').click();
                                //tools_prefixes.find('button[name=load]').click();
                                grid_console.text(textStatus+': Data saved.');
                            }
                            else {
                                grid_console.text(textStatus+': Save error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                        }
                    });
                    button_state.button('reset');
                });

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    multiple: true,
                    maximumSelectionSize: 1,
                    dropdownCss:{display:'none'},
                    //minimumResultsForSearch: -1,
                    //allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/sites/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            data_data = data;
                            grid.data('handsontable').loadData(data_data.results);
                            grid_console.text('Filtered data loaded.');
                            return {results: data.results};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function (a, b) {
                            return a - b;
                        }); //sort by ID, numerically ascending
                    },
                    formatResult: formatSelect2,
                    formatSelection: formatSelect2
                });

                function formatSelect2(data) {
                    return data.name;
                }

                grid.parent().find('button[name=load]').click(function () {
                    var button_state = $(this).button('loading');
                    $.ajax({
                        url: '/mercuryservices/sites/?page='+currentPage,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            //grid.data('handsontable').sort(0);
                            $('#page').html("Page " + currentPage + " of " + resultPages);
                            grid_console.text('Page '+ currentPage +' data reloaded.');
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve page to reload.");
                        }
                    });
                    button_state.button('reset');
                });

                grid.parent().find('button[name=next]').click(function () {
                    var button_state = $(this).button('loading');
                    if (currentPage != resultPages) {
                        $.ajax({
                            url: data_data.next,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage++;
                                $('#page').html("Page " + currentPage + " of " + resultPages);
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (jqXHRequest, textStatus, errorThrown) {
                                grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve next page.");
                            }
                        });
                    }
                    else {
                        grid_console.text("End of results, there are no pages after Page " + resultPages + ".");
                    }
                    button_state.button('reset');
                });

                grid.parent().find('button[name=prev]').click(function () {
                    var button_state = $(this).button('loading');
                    if (currentPage != 1) {
                        $.ajax({
                            url: data_data.previous,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage--;
                                $('#page').html("Page " + currentPage + " of " + resultPages);
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (jqXHRequest, textStatus, errorThrown) {
                                grid_console.text(errorThrown + ": " + textStatus + ": Couldn't retrieve previous page.");
                            }
                        });
                    }
                    else {
                        grid_console.text("There are no pages before Page 1.");
                    }
                    button_state.button('reset');
                });

                grid.parent().find('button[name=add]').click(function () {
                    if (addClicked) {
                        addClicked = false;
                        $("#form_add").hide();
                    }
                    else {
                        addClicked = true;
                        $("#form_add").show();
                    }
                });

                grid.parent().find('button[name=delete]').click(function () {
                    var button_state = $(this).button('loading');
                    if (typeof selectionRowIndices[0] == 'undefined') {grid_console.text('There are no selected rows to delete!'); button_state.button('reset'); return false;}
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataObject = {"id": thisDataRow[0]};
                    var changedDataJSON = JSON.stringify(thisDataObject);
                    $.ajax({
                        url: "{% url 'merlin:sites_delete' %}",
                        data: changedDataJSON,
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            if (jqXHRequest.status === 204) {
                                grid.parent().find('button[name=load]').click();
                                grid_console.text('Data deleted.');
                            }
                            else {
                                grid.parent().find('button[name=load]').click();
                                grid_console.text(textStatus + ': Delete error: ' + jqXHRequest.statusText + ', code: ' + jqXHRequest.status + '.');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                        }
                    });
                    button_state.button('reset');
                });

                grid.parent().find('button[name=save]').click(function () {
                    var button_state = $(this).button('loading');
                    var changedDataArray = [];
                    // if there are no changed rows, notify the user and stop the submission
                    if (typeof changedRowIndices == 'undefined' || changedRowIndices.length < 1) {grid_console.text('Table is empty!'); validTable = false; button_state.button('reset'); return false;}
                    // otherwise loop through all changed rows
                    $.each(changedRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataObject = {};
                        for (var i = 0; i < thisDataRow.length; i++) {
                            thisDataObject[objectFields[i]] = thisDataRow[i];
                        }
                        changedDataArray.push(thisDataObject);
                        // if we made it through the various validations above, then the table must be valid
                        validTable = true;
                    });
                    // if table is valid, submit the POST request, otherwise skip it (implying table is invalid)
                    if(validTable) {
                        var changedDataJSON = JSON.stringify(changedDataArray);
                        $.ajax({
                            url: "{% url 'merlin:sites_update' %}",
                            data: changedDataJSON,
                            dataType: 'json',
                            contentType: "application/json",
                            type: 'POST',
                            success: function (data, textStatus, jqXHRequest) {
                                var content_type = jqXHRequest.getResponseHeader("content-type");
                                // if the content-type is plain text, then it's a custom message from our Django view
                                if (content_type.indexOf('text') > -1) {
                                    grid_console.text(data);
                                }
                                // otherwise, it's JSON from the REST Services
                                else if (jqXHRequest.status === 200) {
                                    grid_console.text(textStatus + ': Data saved.');
                                }
                                else {
                                    grid_console.text(textStatus + ': Save error: ' + jqXHRequest.statusText + ', code: ' + jqXHRequest.status + '.');
                                }
                            },
                            error: function (jqXHRequest, textStatus, errorThrown) {
                                grid_console.text(errorThrown + ": " + textStatus);
                            }
                        });
                    }
                    button_state.button('reset');
                });

            });
        </script>

    </div>

{% endblock %}