.customCurrentRow {
  background-color: #c8ebff !important; /*gives priority over td.area selection background*/
}

.customCurrentCol {
  background-color: #ebf5fa !important; /*gives priority over td.area selection background*/
}

.customHtInvalid {
    background-color: #f0ad4e !important; /*gives priority over td.area selection background*/
}

.customHtSearchResult {
    background: #51BCDC !important; /*gives priority over td.area selection background*/
    color: #583707;
}

#expander {
    height: 100%;
    background-color: #333333;
    position: fixed;
    width:2em;
    float: left;
    left: auto;
    z-index: 1000;
}

.navbar {
    background-color: #333;
    background-image: none;
}

.glyphicon {
    color: #999999;
}

#expander:hover {
  box-shadow: 3px 3px 15px #666;
  cursor: pointer;
}