{% extends 'mercurylab/base.html' %}

{% load static %}

{% block body_block %}
<div class="jumbotron">
	<h1>About MeRLIn</h1>
	<p><strong>MeRLIn</strong> is the information management system for the USGS Mercury Research Laboratory.</p>
    <p>It is built in a service-oriented architecture. The REST services can be found <a href="http://localhost:8000/mercuryservices/">here</a>.</p>
	<img src="{% static 'img/Arthur-Pyle_The_Enchanter_Merlin.jpg' %}" alt="Picture of Merlin" />
</div>
{% endblock %}
