{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">

        <p>
            <button type="button" class="btn btn-default" name="add">Add New Blank Water</button>
        </p>
        <div id="form_add" style="display:none">
            <form class="form-signin span8" id="item_form" method="post" action="{% url 'mercurylab:blankwater_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="form-signin-heading">Create Blank Water</h3>

                {% for field in form %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}
                <br />

                <input class="btn btn-primary" type="submit" name="submit" value="OK" />
            </form>
        </div>
        <br />

        <pre id="grid_console" class="console" style="width:600px"></pre>
        <p><input id="select_field" type="hidden" placeholder="Filter by lot number." style="width:600px"/></p>
        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:593px;height:40px;font-size:21px;"/>
                    </li>
                </ul>
            </div>
        <!-- <p><input id="search_field" type="search" placeholder="Highlight in table." style="width:600px; border:1px solid darkgray; height:42px"/></p> -->
        <br /><br />
        <p>
            <button type="button" class="btn btn-default" name="load">Reload Table</button>
            <button type="button" class="btn btn-default" name="save">Save Changes</button>
            <button type="button" class="btn btn-default" name="edit">Edit Selected Record</button>
            <button type="button" class="btn btn-default" name="delete">Delete Selected Record</button>
        </p>
        <p>
            <button type="button" class="btn btn-default" name="prev">Previous Page</button>
            <button type="button" class="btn btn-default" name="next">Next Page</button>
        </p>
        <div id="grid" data-data="{{ data }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var objectFields = ["id", "lot_number", "concentration", "time_stamp", "comment"];
                var currentPage = 1;
                var addClicked = false;
                var grid = $('#grid');
                var data_data = JSON.parse(grid.attr("data-data"));
                var resultPages = Math.ceil(data_data['count'] / 100);
                var grid_console = $("#grid_console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    data: data_data.results,
                    columns: [
                        {title: "ID", data: "id", readOnly: true, width: 1},
                        {title: "Lot Number", data: "lot_number", width: 120},
                        {title: "Concentration", data: "concentration", width: 120},
                        {title: "Date", data: "time_stamp", width: 300},
                        {title: "Comment", data: "comment", width: 300}
                    ],
                    search: true,
                    columnSorting: { column: 0 },
                    beforeChange: function(changes, source) {
                         // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the following strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of changed row
                        var changedRow = changes[0][0];

                        // remember the indices of all changed rows
                        if (source != 'loadData') {
                            // find index of this row in the changed rows array
                            var changedRowIndex = changedRowIndices.indexOf(changedRow);
                            // if not in the array (index == -1), add it to the array, otherwise ignore
                            if (changedRowIndex == -1){
                                changedRowIndices.push(changedRow);
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        //for (var i = r; i < (r2+1); i++){
                            selectionRowIndices.push(r);
                        //}

                    }
                });
                grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    multiple: true,
                    maximumSelectionSize: 1,
                    dropdownCss:{display:'none'},
                    //minimumResultsForSearch: -1,
                    //allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/blankwaters/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                lot_number: term
                            };
                        },
                        results: function (data, page) {
                            data_data = data;
                            grid.data('handsontable').loadData(data_data.results);
                            grid_console.text('Filtered data loaded.');
                            return {results: data.results};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function (a, b) {
                            return a - b;
                        }); //sort by ID, numerically ascending
                    },
                    formatResult: formatSelect2,
                    formatSelection: formatSelect2
                });

                function formatSelect2(data) {
                    return data.lot_number;
                }

                grid.parent().find('button[name=load]').click(function () {
                    $.ajax({
                        url: '/mercuryservices/blankwaters/?page='+currentPage,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            grid.data('handsontable').sort(0);
                            grid_console.text('Page '+ currentPage +' data reloaded.');
                        },
                        error: function (response) {
                            grid_console.text("error");
                        }
                    });
                });

                grid.parent().find('button[name=next]').click(function () {
                    if (currentPage != resultPages) {
                        $.ajax({
                            url: data_data.next,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage++;
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (response) {
                                grid_console.text("error");
                            }
                        });
                    }
                    else {
                        grid_console.text("End of results, there are no pages after Page " + resultPages + ".");
                    }
                });

                grid.parent().find('button[name=prev]').click(function () {
                    if (currentPage != 1) {
                        $.ajax({
                            url: data_data.previous,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage--;
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (response) {
                                grid_console.text("error");
                            }
                        });
                    }
                    else {
                        grid_console.text("There are no pages before Page 1.");
                    }
                });

                grid.parent().find('button[name=add]').click(function () {
                    if (addClicked) {
                        addClicked = false;
                        $("#form_add").hide();
                    }
                    else {
                        addClicked = true;
                        $("#form_add").show();
                    }
                });

                grid.parent().find('button[name=delete]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/blankwaters/'+thisDataRowID+'/delete';
                });

                grid.parent().find('button[name=edit]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/blankwaters/'+thisDataRowID+'/edit';
                });

                grid.parent().find('button[name=save]').click(function () {
                    var changedDataArray = [];
                    $.each(changedRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataObject = {};
                        for (var i = 0; i < thisDataRow.length; i++) {
                            thisDataObject[objectFields[i]] = thisDataRow[i];
                        }
                        changedDataArray.push(thisDataObject);
                    });
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    $.ajax({
                        url: '/mercurylab/blankwaters/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            // if the content-type is plain text, then it's a custom message from our Django view
                            if (content_type.indexOf('text') > -1) {
                                grid_console.text(data);
                            }
                            // otherwise, it's JSON from the REST Services
                            else if (jqXHRequest.status === 200) {
                                grid_console.text(textStatus+': Data saved.');
                            }
                            else {
                                grid_console.text(textStatus+': Save error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                        }
                    });
                });

            });
        </script>

    </div>

{% endblock %}