{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">

        <p>
            <button type="button" class="btn btn-default" name="load">Reload</button>
            <button type="button" class="btn btn-default" name="save">Save</button>
        </p>
        <pre id="grid_console" class="console">Click "Load" to load data from server</pre>
        <input id="select_field" type="hidden" placeholder="Select for bromination ID." style="width:600px"/><br />
        <input id="search_field" type="search" placeholder="Find in table." style="width:600px"/>
        <p>
            <button type="button" class="btn btn-default" name="prev">Previous Page</button>
            <button type="button" class="btn btn-default" name="next">Next Page</button>
        </p>
        <div id="grid" data-data="{{ data }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var objectFields = ["ID", "Concentration", "Bromination Date", "Comment"];
                var currentPage = 1;
                var grid = $('#grid');
                var data_data = JSON.parse(grid.attr("data-data"));
                var grid_console = $("#grid_console");
                var changesRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    colWidths: [40,120,120,300],
                    colHeaders: objectFields,
                    contextMenu: true,
                    //minSpareRows: 1,
                    data: data_data.results,
                    columns: [{data: "id", readOnly: true},{data: "concentration"},{data: "bromination_date"},{data: "comment"}],
                    columnSorting: { column: 0 },
                    afterChange: function(changes, source) {
                        if (source != 'loadData') {
                            changesRowIndices.push(changes[0][0]);
                        }
                    }
                });
                grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/brominations/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            grid.data('handsontable').loadData(data);
                            grid_console.text('Searched data loaded.');
                            return {results: data};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function(a,b) { return a - b; }); //sort by ID, numerically ascending
                    },
                    formatResult: format,
                    formatSelection: format
                });

                function format(data) {
                    return data.name;
                }

                grid.parent().find('button[name=load]').click(function () {
                    grid.data('handsontable').loadData(data_data.results);
                    grid.data('handsontable').sort(0);
                    grid_console.text('Data reloaded.');
                });

                grid.parent().find('button[name=next]').click(function () {
                    $.ajax({
                        url: data_data.next,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            grid.data('handsontable').sort(0);
                            currentPage++;
                            grid_console.text('Page '+ currentPage +' data loaded.');
                        },
                        error: function (response) {
                            grid_console.log("error");
                        }
                    });
                });

                grid.parent().find('button[name=prev]').click(function () {
                    $.ajax({
                        url: data_data.previous,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            grid.data('handsontable').sort(0);
                            currentPage--;
                            grid_console.text('Page '+ currentPage +' data loaded.');
                        },
                        error: function (response) {
                            grid_console.log("error");
                        }
                    });
                });

                grid.parent().find('button[name=save]').click(function () {
                    var changedDataArray = [];
                    $.each(changesRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataObject = {};
                        for (var i = 0; i < thisDataRow.length; i++) {
                            thisDataObject[objectFields[i]] = thisDataRow[i];
                        }
                        changedDataArray.push(thisDataObject);
                    });
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    $.ajax({
                        url: '/mercurylab/brominations/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, outcome, response) {
                            if (response.status === 200) {
                                grid_console.text(outcome+': Data saved.');
                              }
                              else {
                                grid_console.text(outcome+': Save error: '+response.statusText+', code: '+response.status+'.');
                              }
                        },
                        error: function () {
                            grid_console.text('403: Save error. POST method is not allowed.');
                        }
                    });
                });

            });
        </script>

    </div>

{% endblock %}