{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="hero-unit">
        <div class="container">
            <form class="form-signin span8" id="item_form" method="post" action="{% url 'mercurylab:cooperator_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="form-signin-heading">Create Cooperator</h3>

                {% for field in form %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}

                <input class="btn btn-primary" type="submit" name="submit" value="Create" />
            </form>
        </div>
    </div>

{% endblock %}