{% extends 'mercurylab/base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <a class="btn" href="/mercurylab/cooperators_list/{{ list.id }}/edit">Edit Cooperator</a>
        <a class="btn" href="/mercurylab/cooperators_list/{{ list.id }}/delete">Delete Cooperator</a>
        <br /><br />

        {% if list %}
            <table>
		    <tr><td>Name: </td><td>{{ list.name }}</td></tr>
			<tr><td>Agency: </td><td>{{ list.agency }}</td></tr>
			<tr><td>Email: </td><td>{{ list.email }}</td></tr>
			<tr><td>Phone: </td><td>{{ list.phone }}</td></tr>
			<tr><td>Sec Phone: </td><td>{{ list.sec_phone }}</td></tr>
			<tr><td>Address: </td><td>{{ list.address }}</td></tr>
			<tr><td>City: </td><td>{{ list.city }}</td></tr>
			<tr><td>State: </td><td>{{ list.state }}</td></tr>
			<tr><td>ZIP: </td><td>{{ list.zipcode }}</td></tr>
			<tr><td>Country: </td><td>{{ list.country }}</td></tr>
            </table>
         {% else %}
            <p>No items at present.</p>
        {% endif %}
    </div>
{% endblock %}