{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">
{#        <a class="btn" href="{% url 'mercurylab:cooperator_add' %}">Create New Cooperator</a><br /><br />#}

        {% if formset %}
        <form class="form-horizontal" method="post" action="">
            <table class="table table-striped table-hover table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>agency</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>sec_phone</th>
                        <th>address</th>
                        <th>city</th>
                        <th>state</th>
                        <th>zipcode</th>
                        <th>country</th>
                    </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                    <tr>
                        {% for field in form %}
                        <td>{{ field }}</td>
                        {% endfor %}
{#                        <td>{{ form.name }}</td>#}
{#                        <td>{{ form.agency }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
                {% csrf_token %}
                <button type="submit" name="action" value="save">save</button>
                <button type="submit" name="action" value="delete">delete</button>
            </p>
        </form>
        {% else %}
            <p>No items at present.</p>
        {% endif %}
    </div>

{% endblock %}