{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="hero-unit">
{#        <a class="btn" href="{% url 'mercurylab:cooperator_add' %}">Create New Cooperator</a><br /><br />#}

        <p>
            <button name="load">Load</button>
            <button name="save">Save</button>
            <label><input type="checkbox" name="autosave" checked="checked" autocomplete="off"> Autosave</label>
        </p>
        <pre id="console" class="console">Click "Load" to load data from server</pre>
        <div id="grid"></div>

    </div>

{% endblock %}