{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">

        <p>
            <button type="button" class="btn btn-default" name="add">Add New Cooperator</button>
        </p>
        <div id="form_add" style="display:none">
            <form class="form-signin span8" id="item_form" method="post" action="{% url 'mercurylab:cooperator_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="form-signin-heading">Create Cooperator</h3>

                {% for field in form %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                {% endfor %}
                <br />

                <input class="btn btn-primary" type="submit" name="submit" value="OK" />
            </form>
        </div>
        <br />

        <pre id="grid_console" class="console" style="width:600px"></pre>
        <p><input id="select_field" type="hidden" placeholder="Filter by cooperator name." style="width:600px"/></p>
        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:593px;height:40px;font-size:21px;color:"/>
                    </li>
                </ul>
            </div>
        <!-- <p><input id="search_field" type="search" placeholder="Highlight in table." style="width:600px; border:1px solid darkgray; height:42px"/></p> -->
        <br /><br />
        <p>
            <button type="button" class="btn btn-default" name="load">Reload Table</button>
            <button type="button" class="btn btn-default" name="save">Save Changes</button>
            <button type="button" class="btn btn-default" name="edit">Edit Selected Record</button>
            <button type="button" class="btn btn-default" name="delete">Delete Selected Record</button>
        </p>
        <p>
            <button type="button" class="btn btn-default" name="prev">Previous Page</button>
            <button type="button" class="btn btn-default" name="next">Next Page</button>
        </p>
        <div id="grid" data-data="{{ data }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var objectFields = ["id", "name", "agency", "email", "phone", "sec_phone", "address", "city", "state", "zipcode", "country", "projects"];
                var currentPage = 1;
                var addClicked = false;
                function getColumns() {
                    var cols = [];
                    var col = {};
                    for (var i = 0; i < objectFields.length; i++){
                        if (objectFields[i] == 'id') {
                            col = {data: objectFields[i], readOnly: true};
                        }
                        else {
                            col = {data: objectFields[i]};
                        }
                        cols.push(col);
                    }
                    return cols;
                }
                var grid = $('#grid');
                var data_data = JSON.parse(grid.attr("data-data"));
                var grid_console = $("#grid_console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    colWidths: [40,160,120,160,120,120,160,120,80,80,80,120],
                    colHeaders: objectFields,
                    contextMenu: true,
                    search: true,
                    //minSpareRows: 1,
                    data: data_data.results,
                    columns: getColumns(),
                    //columns: [{data: "id", readOnly: true},{data: "name"},{data: "agency"},{data: "email"},{data: "phone"},{data: "sec_phone"},{data: "address"},{data: "city"},{data: "state"},{data: "zipcode"},{data: "country"},{data: "projects"}],
                    columnSorting: { column: 0 },
                    afterChange: function(changes, source) {
                        // get list of changed rows
                        if (source != 'loadData') {
                            changedRowIndices.push(changes[0][0]);
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        //for (var i = r; i < (r2+1); i++){
                            selectionRowIndices.push(r);
                        //}

                    }
                });
                grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    multiple: true,
                    maximumSelectionSize: 1,
                    dropdownCss:{display:'none'},
                    //minimumResultsForSearch: -1,
                    //allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/cooperators/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            data_data = data;
                            grid.data('handsontable').loadData(data_data.results);
                            grid_console.text('Filtered data loaded.');
                            return {results: data.results};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function (a, b) {
                            return a - b;
                        }); //sort by ID, numerically ascending
                    },
                    formatResult: formatSelect2,
                    formatSelection: formatSelect2
                });

                function formatSelect2(data) {
                    return data.name;
                }

                grid.parent().find('button[name=load]').click(function () {
                    grid.data('handsontable').loadData(data_data.results);
                    grid.data('handsontable').sort(0);
                    grid_console.text('Data reloaded.');
                });

                grid.parent().find('button[name=next]').click(function () {
                    $.ajax({
                        url: data_data.next,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            grid.data('handsontable').sort(0);
                            currentPage++;
                            grid_console.text('Page '+ currentPage +' data loaded.');
                        },
                        error: function (response) {
                            grid_console.log("error");
                        }
                    });
                });

                grid.parent().find('button[name=prev]').click(function () {
                    $.ajax({
                        url: data_data.previous,
                        dataType: 'json',
                        success: function (response) {
                            grid_console.text("success");
                            data_data = response;
                            grid.data('handsontable').loadData(data_data.results);
                            grid.data('handsontable').sort(0);
                            currentPage--;
                            grid_console.text('Page '+ currentPage +' data loaded.');
                        },
                        error: function (response) {
                            grid_console.log("error");
                        }
                    });
                });

                grid.parent().find('button[name=add]').click(function () {
                    if (addClicked) {
                        addClicked = false;
                        $("#form_add").hide();
                    }
                    else {
                        addClicked = true;
                        $("#form_add").show();
                    }
                });

                grid.parent().find('button[name=delete]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/cooperators/'+thisDataRowID+'/delete';
                });

                grid.parent().find('button[name=edit]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/cooperators/'+thisDataRowID+'/edit';
                });

                grid.parent().find('button[name=save]').click(function () {
                    var changedDataArray = [];
                    $.each(changedRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataObject = {};
                        for (var i = 0; i < thisDataRow.length; i++) {
                            thisDataObject[objectFields[i]] = thisDataRow[i];
                        }
                        changedDataArray.push(thisDataObject);
                    });
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    $.ajax({
{#                        url: "{% url 'mercurylab:cooperator_grid_save' pk=data_id %}",#}
                        url: '/mercurylab/cooperators/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, outcome, response) {
                            if (response.status === 200) {
                                grid_console.text(outcome+': Data saved.');
                            }
                            else {
                                grid_console.text(outcome+': Save error: '+response.statusText+', code: '+response.status+'.');
                            }
                        },
                        error: function () {
                            grid_console.text('403: Save error. POST method is not allowed.');
                        }
                    });
                });

                /*grid.parent().find('button[name=delete]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/cooperators_list/'+thisDataRowID+'/delete';
                });

                grid.parent().find('button[name=edit]').click(function () {
                    var thisDataRow = grid.data('handsontable').getDataAtRow(selectionRowIndices[0]);
                    var thisDataRowID = thisDataRow[0];
                    window.location = '/mercurylab/cooperators_list/'+thisDataRowID+'/edit';
                });

                grid.parent().find('button[name=delete]').click(function () {
                    $.each(selectionRowIndices, function(index, value) {
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        var thisDataRowID = thisDataRow[0];
                        $.ajax({
                            url: '/mercurylab/cooperators_list/'+thisDataRowID+'/delete',
                            dataType: 'json',
                            type: 'GET',
                            success: function (data, outcome, response) {
                                if (response.status === 200) {
                                    grid_console.text(outcome+': Data deleted.');
                                  }
                                  else {
                                    grid_console.text(outcome+': Delete error: '+response.statusText+', code: '+response.status+'.');
                                  }
                            },
                            error: function () {
                                grid_console.text('Delete error. DELETE method is not allowed.');
                            }
                        });
                    });
                });*/

            });
        </script>

    </div>

{% endblock %}