
<ul class="nav nav-list">
    <li><a href="/mercurylab/sample_login">Sample Login</a></li>
    <li><a href="/mercurylab/bottles">Bottles</a></li>
    <li><a href="/mercurylab/acids">Acids</a></li>
    <li><a href="/mercurylab/brominations">Brominations</a></li>
    <li><a href="/mercurylab/blankwaters">Blank Waters</a></li>
    <li><a href="/mercurylab/cooperators">Cooperators</a></li>
    <li><a href="/mercurylab/projects">Projects</a></li>
    <li><a href="/mercurylab/sites">Sites</a></li>
</ul>