{% extends 'mercurylab/base.html' %}

{% block body_block %}
<div class="hero-unit">
	<h1>Register with Mercury Lab</h1>

	<div class="container">
		{% if registered %}
		<strong>Thank you for registering.</strong>

		<p><a href="/mercury/login/">Login</a> when you are ready to science.</p>
		{% else %}
		<form class="form-signin span8" id="user_form" method="post" action="/mercurylab/register/" enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="form-signin-heading">Sign up Here</h2>

			{% for field in user_form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
			{% endfor %}

			{% for field in profile_form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
			{% endfor %}			

			<input class="btn btn-primary" type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}