{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">
        <p>
            <button type="button" class="btn btn-default" name="save">Save</button>
        </p>
        <pre id="console" class="console">Click "Load" to load data from server</pre>
       <!--  <p><input class="form-control" id="select_field" type="hidden" placeholder="Select for sample name." style="width:600px"/></p> -->
        <p><input class="form-control" id="search_field" type="search" placeholder="Find in table." style="width:600px"/></p>
        <div id="grid" data-mediums="{{ mediums }}" data-filters="{{ filters }}" data-preservations="{{ preservations }}" data-acids="{{ acids }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var grid = $('#grid');
                var objectFields = ["skip_project_name", "project", "skip_site_name", "site", "skip_date", "skip_hour", "time_stamp", "depth", "length", "replicate", "login_comment", "received_time_stamp", "lab_processing", "bottle", "medium_type", "constituent_type", /*"isotopic_analysis",*/ "skip_isotope", "filter_type", "volume_filtered", "preservation_type", "preservation_acid", "preservation_volume", "preservation_comment"];
                function getRange(limit) {
                    var values = [];
                    for (var i = 0; i < limit; i++){
                        if (i < 10) {
                            values.push("0"+String(i));
                        }
                        else {
                            values.push(String(i));
                        }
                    }
                    return values;
                }
                function getValuesDom(domDataObject,attribute) {
                    var values = [];
                    var dom_data_object = JSON.parse(grid.attr(domDataObject));
                    for (var i = 0; i < dom_data_object.length; i++){
                        values.push(dom_data_object[i][attribute])
                    }
                    return values;
                }
                function getValuesAjax(url, param, query, process) {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        data: param+"="+query,
                        success: function (response) {
                            console.text("success");
                            var values = [];
                            for (var i = 0; i < response.length; i++) {
                                values.push(response[i][param]);
                            }
                            process(values);
                        },
                        error: function (response) {
                            console.text("error");
                        }
                    });
                }
                var console = $("#console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                console.text('Loading data.');
                grid.handsontable({
                    //colWidths: [100,70,70,70,100,50,50,70,70,70,70,100,70,70,70,70,70,70,70,70,70],
                    //colHeaders: objectFields,
                    contextMenu: true,
                    search: true,
                    startRows: 8,
                    columns: [
                        {title: 'Project Name', width: 100, type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'name', query, process)}
                        },
                        {title: 'Project ID', width: 70,type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'id', query, process)}
                        },
                        {title: 'Site Name', width: 70, type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'name', query, process)}
                        },
                        {title: 'Site ID', width: 70, type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'id', query, process)}
                        },
                        {title: 'Date', width: 100, type: 'date'},
                        {title: 'Hour', width: 50, type: 'dropdown', source: getRange(24)},
                        {title: 'Minute', width: 50, type: 'dropdown', source: getRange(60)},
                        {title: 'Depth', width: 50, type: 'numeric'},
                        {title: 'Length', width: 50, type: 'numeric'},
                        {title: 'Rep', width: 50, type: 'numeric'},
                        {title: 'Sample Comments', width: 100, type: 'text'},
                        {title: 'Received', width: 100, type: 'date'},
                        {title: 'Lab Processing', width: 60, type: 'text'},
                        {title: 'Container ID', width: 100, type: 'text'},
                        {title: 'Medium', width: 100, type: 'dropdown', source: getValuesDom("data-mediums","medium")},
                        {title: 'Analysis', width: 100, type: 'numeric'},
                        {title: 'Isotope', width: 50, type: 'text'},
                        {title: 'Filter', width: 100, type: 'dropdown', source: getValuesDom("data-filters","filter")},
                        {title: 'Filter Volume', width: 50, type: 'numeric'},
                        {title: 'Preservation', width: 100, type: 'dropdown', source: getValuesDom("data-preservations", "preservation")},
                        {title: 'Acid', width: 100, type: 'dropdown',  source: getValuesDom("data-acids", "code")},
                        {title: 'Acid Volume', width: 50, type: 'numeric'},
                        {title: 'Preservation Comments', width: 100, type: 'text'}
                    ],
                    // define event handlers
                    beforeChange: function(changes, source) {
                        // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".
                        if (source != 'loadData') {
                            // get index of changed row
                            var changedRow = changes[0][0];
                            // find index of this row in the changed rows array
                            var changedRowIndex = changedRowIndices.indexOf(changedRow);
                            // if not in the array (index == -1), add it to the array, otherwise ignore
                            if (changedRowIndex == -1){
                                changedRowIndices.push(changedRow);
                            }
                        }
                        if (source == 'edit') {
                            if (changes[0][1] == 0) {
                                $.ajax({
                                    url: '/mercuryservices/projects/',
                                    dataType: 'json',
                                    data: {
                                        name: changes[0][3]
                                    },
                                    success: function (response) {
                                        console.text("success");
                                        var changedRow = changes[0][0];
                                        var colToChange = 1;
                                        var newValue = response[0]['id'];
                                        grid.handsontable('setDataAtCell',changedRow, colToChange, newValue);
                                    },
                                    error: function (response) {
                                        console.text("error");
                                    }
                                });
                            }
                            if (changes[0][1] == 1) {
                                $.ajax({
                                    url: '/mercuryservices/projects/',
                                    dataType: 'json',
                                    data: {
                                        id: changes[0][3]
                                    },
                                    success: function (response) {
                                        console.text("success");
                                        var changedRow = changes[0][0];
                                        var colToChange = 0;
                                        var newValue = response[0]['name'];
                                        grid.handsontable('setDataAtCell', changedRow, colToChange, newValue);
                                    },
                                    error: function (response) {
                                        console.text("error");
                                    }
                                });
                            }
                            if (changes[0][1] == 2) {
                                $.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        name: changes[0][3]
                                    },
                                    success: function (response) {
                                        console.text("success");
                                        var changedRow = changes[0][0];
                                        var colToChange = 3;
                                        var newValue = response[0]['id'];
                                        grid.handsontable('setDataAtCell',changedRow, colToChange, newValue);
                                    },
                                    error: function (response) {
                                        console.text("error");
                                    }
                                });
                            }
                            if (changes[0][1] == 3) {
                                $.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        id: changes[0][3]
                                    },
                                    success: function (response) {
                                        console.text("success");
                                        var changedRow = changes[0][0];
                                        var colToChange = 2;
                                        var newValue = response[0]['name'];
                                        grid.handsontable('setDataAtCell', changedRow, colToChange, newValue);
                                    },
                                    error: function (response) {
                                        console.text("error");
                                    }
                                });
                            }
                        }
                    },
                    afterSelectionEnd: function(r, c, r2, c2) {
                        //for (var i = r; i < (r2+1); i++){
                            selectionRowIndices.push(r);
                        //}

                    }
                });
                //grid.data('handsontable').sort(0);
                console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/samples/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            grid.data('handsontable').loadData(data);
                            console.text('Searched data loaded.');
                            return {results: data};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function(a,b) { return a - b; }); //sort by ID, numerically ascending
                    },
                    formatResult: formatName,
                    formatSelection: formatName
                });

                function formatName(data) {
                    return data.name;
                }

                function formatID(data) {
                    return data.id;
                }

                // when the save button is clicked, loop through the list of changed rows and build a JSON object containing the changed rows
                grid.parent().find('button[name=save]').click(function () {
                    // an array container for storing the changed data rows to send to the database
                    var changedDataArray = [];
                    // loop through the list of changed rows
                    $.each(changedRowIndices, function(index, value) {
                        // grab all the data for this row
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        // check if this row still has data; it's possible the user cleared the row after entering data, in which case we no longer want it
                        if (thisDataRow[0] !== null && thisDataRow[0] !== ""){
                            // an object container for the data in this row
                            var thisDataObject = {};
                            // convert each cell in this row into an object property
                            for (var i = 0; i < thisDataRow.length; i++) {
                                switch(i){
                                    case 0: // project name
                                        break;
                                    case 2: // site name
                                        break;
                                    case 4: // date
                                        break;
                                    case 5: // hour
                                        break;
                                    case 6: // minute
                                        var time_stamp = thisDataRow[i-2]+" "+thisDataRow[i-1]+":"+thisDataRow[i]+":00";
                                        thisDataObject[objectFields[i]] = time_stamp;
                                        break;
                                    case 16: // isotope
                                        break;
                                    default: // all the rest
                                        thisDataObject[objectFields[i]] = thisDataRow[i];
                                        break;
                                }
                            }
                            // add the new row object to the array
                            changedDataArray.push(thisDataObject);
                        }
                    });
                    // convert the array to a true JSON object
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    // send the entire changed data object to the server via ajax
                    console.text("Data saved.");
                    /*$.ajax({
                        url: '/mercurylab/samples/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, outcome, response) {
                            if (response.status === 200) {
                                console.text(outcome+': Data saved.');
                            }
                            else {
                                console.text(outcome+': Save error: '+response.statusText+', code: '+response.status+'.');
                            }
                        },
                        error: function () {
                            console.text('403: Save error. POST method is not allowed.');
                        }
                    });*/
                });

            });
        </script>

    </div>

{% endblock %}