{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">
        <p>
            <button type="button" class="btn btn-default" name="save">Save</button>
            <button type="button" class="btn btn-default" name="insertRows">Insert Rows</button>
        </p>
        <pre id="grid_console" class="console"></pre>
       <!--  <p><input class="form-control" id="select_field" type="hidden" placeholder="Select for sample name." style="width:600px"/></p> -->
        <p><input class="form-control" id="search_field" type="search" placeholder="Find in table." style="width:600px"/></p>
        <div id="grid" data-processings="{{ processings }}" data-mediums="{{ mediums }}" data-filters="{{ filters }}" data-preservations="{{ preservations }}" data-acids="{{ acids }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var grid = $('#grid');
                var data_processings = JSON.parse(grid.attr('data-processings'));
                var data_mediums = JSON.parse(grid.attr('data-mediums'));
                // temporary array until isotopes get figured out
                var data_isotopes = ['', 'A', '198', '199', '200', '201', '202'];
                var data_filters = JSON.parse(grid.attr('data-filters'));
                var data_preservations = JSON.parse(grid.attr('data-preservations'));
                var data_acids = JSON.parse(grid.attr('data-acids'));
                var data_projects;
                var data_sites;
                var data_constituents;
                var objectFields = ["skip_project_name", "project", "skip_site_name", "site", "skip_date", "time_stamp", "depth", "length", "replicate", "login_comment", "received_time_stamp", "lab_processing", "bottle", "medium_type", "constituent_type", /*"isotopic_analysis",*/ "skip_isotope", "filter_type", "volume_filtered", "preservation_type", "preservation_acid", "preservation_volume", "preservation_comment"];
                var grid_console = $("#grid_console");
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data.');
                grid.handsontable({
                    //colWidths: [100,70,70,70,100,50,50,70,70,70,70,100,70,70,70,70,70,70,70,70,70],
                    //colHeaders: objectFields,
                    contextMenu: true,
                    search: true,
                    startRows: 8,
                    columns: [
                        {title: 'Project Name', width: 100, type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'name', query, process)}
                        },
                        {title: 'Project ID', width: 70, type: 'autocomplete', source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'id', query, process)}
                        },
                        {title: 'Site Name', width: 70, type: 'autocomplete'/*, source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'name', query, process)}*/
                        },
                        {title: 'Site ID', width: 70, type: 'autocomplete'/*, source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'id', query, process)}*/
                        },
                        // Date, Hour, and Minute as separate columns is temporary until a single column datetime editor can be found for handsontable
                        {title: 'Date', width: 100, type: 'date'},
                        {title: 'Time', width: 60, type: 'text'},
                        //{title: 'Hour', width: 50, type: 'autocomplete', source: getRange(24)},
                        //{title: 'Minute', width: 50, type: 'autocomplete', source: getRange(60)},
                        {title: 'Depth', width: 50, type: 'numeric'},
                        {title: 'Length', width: 50, type: 'numeric'},
                        {title: 'Rep', width: 50, type: 'numeric'},
                        {title: 'Sample Comments', width: 100, type: 'text'},
                        {title: 'Received', width: 100, type: 'date'},
                        {title: 'Lab Processing', width: 105, type: 'autocomplete', source: getValuesDom(data_processings,"processing")},
                        //{title: 'Container ID', width: 100, type: 'text'},
                        {title: 'Container ID', width: 90, type: 'autocomplete',  source: function (query, process) {
                            getValuesAjax('/mercuryservices/bottles', 'bottle_unique_name', query, process)}},
                        {title: 'Medium', width: 100, type: 'autocomplete', source: getValuesDom(data_mediums,"medium")},
                        {title: 'Analysis', width: 70, type: 'autocomplete'/*, source: function (query, process) {
                            // get coordinates of this cell
                            var thisCell = grid.data('handsontable').getSelected();
                            // get value of cell one column to the left in the same row
                            var prevCellValue = grid.data('handsontable').getDataAtCell(thisCell[0],(thisCell[1]-1));
                            // get list of constituents that are allowed with the previously selected medium
                            getValuesAjax('/mercuryservices/constituents', 'medium', prevCellValue, process)}*/
                        },
                        {title: 'Isotope', width: 55, type: 'dropdown', source: data_isotopes},
                        {title: 'Filter', width: 100, type: 'autocomplete', source: getValuesDom(data_filters,"filter")},
                        {title: 'Filter Vol.', width: 65, type: 'numeric'},
                        {title: 'Preservation', width: 100, type: 'autocomplete', source: getValuesDom(data_preservations, "preservation")},
                        //{title: 'Acid', width: 100, type: 'autocomplete',  source: getValuesDom(data_acids, "code")},
                        {title: 'Acid', width: 110, type: 'autocomplete',  source: function (query, process) {
                            getValuesAjax('/mercuryservices/acids', 'code', query, process)}},
                        {title: 'Acid Vol.', width: 60, type: 'numeric'},
                        {title: 'Pres. Comments', width: 100, type: 'text'}
                    ],
                    // define event handlers
                    beforeChange: function(changes, source) {
                        // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of changed row
                        var changedRow = changes[0][0];
                        // get index of changed column
                        var changedCol = changes[0][1];
                        // get value of changed cell
                        var changedVal = changes[0][3];

                        // remember the indices of all changed rows
                        if (source != 'loadData') {
                            // find index of this row in the changed rows array
                            var changedRowIndex = changedRowIndices.indexOf(changedRow);
                            // if not in the array (index == -1), add it to the array, otherwise ignore
                            if (changedRowIndex == -1){
                                changedRowIndices.push(changedRow);
                            }
                        }

                        // update dependent columns when a value in a parent column is changed
                        if (source == 'edit') {
                            // when project name is changed to a non-null, non-blank value
                            if (changedCol == 0 && changedVal !== null && changedVal !== "") {
                                // update project ID to match project name
                                var newValue = updateValueAjax('/mercuryservices/projects/', 'name', 'id', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 1, newValue);
                                // update lists of site names and IDs filtered by the selected project name
                                $.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        project: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        // update the local full object collection
                                        data_sites = response;
                                        // update the site name dropdown list with just the values
                                        var colToChange = 2;
                                        var values = getValuesDom(data_sites, "name");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 3;
                                        values = getValuesDom(data_sites, "id");
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });
                            }
                            // when project ID is changed to a non-null, non-blank value
                            if (changedCol == 1 && changedVal !== null && changedVal !== "") {
                                // update project name to match project ID
                                var newValue = updateValueAjax('/mercuryservices/projects/', 'id', 'name', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 0, newValue);
                                // update lists of site names and IDs filtered by the selected project name
                                $.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        project: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        // update the local full object collection
                                        data_sites = response;
                                        // update the site name dropdown list with just the values
                                        var colToChange = 2;
                                        var values = getValuesDom(data_sites, "name");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 3;
                                        values = getValuesDom(data_sites, "id");
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });
                            }
                            // when site name is changed to a non-null, non-blank value
                            if (changedCol == 2 && changedVal !== null && changedVal !== "") {
                                // update site ID to match site name
                                var newValue = updateValueAjax('/mercuryservices/sites/', 'name', 'id', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 3, newValue);
                            }
                            // when site ID is changed to a non-null, non-blank value
                            if (changedCol == 3 && changedVal !== null && changedVal !== "") {
                                // update site name to match site ID
                                var newValue = updateValueAjax('/mercuryservices/sites/', 'id', 'name', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 2, newValue);
                            }
                            // when medium is changed to a non-null, non-blank value
                            if (changedCol == 13 && changedVal !== null && changedVal !== "") {
                                // update list of constituents filtered by the selected medium value
                                $.ajax({
                                    url: '/mercuryservices/constituents/',
                                    dataType: 'json',
                                    data: {
                                        medium: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        var colToChange = 14;
                                        // update the local full object collection
                                        data_constituents = response;
                                        // update the dropdown list with just the values
                                        var values = getValuesDom(data_constituents, "constituent");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        //for (var i = r; i < (r2+1); i++){
                            selectionRowIndices.push(r);
                        //}

                    }
                });
                //grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                $("#select_field").select2({
                    allowClear: true,
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/samples/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            grid.data('handsontable').loadData(data);
                            grid_console.text('Searched data loaded.');
                            return {results: data};
                        }
                    },
                    sortResults: function(results, container, query) {
                        return results.sort(function(a,b) { return a - b; }); //sort by ID, numerically ascending
                    },
                    formatResult: formatName,
                    formatSelection: formatName
                });

                function formatName(data) {
                    return data.name;
                }

                function formatID(data) {
                    return data.id;
                }

                grid.parent().find('button[name=insertRows]').click(function () {
                    grid.data('handsontable').alter('insert_row',null,8);
                    grid_console.text('Inserted Rows.');
                });

                // when the save button is clicked, loop through the list of changed rows and build a JSON object containing the changed rows
                grid.parent().find('button[name=save]').click(function () {
                    // an array container for storing the changed data rows to send to the database
                    var changedDataArray = [];
                    // loop through the list of changed rows
                    $.each(changedRowIndices, function(index, value) {
                        // grab all the data for this row
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        // check if this row still has data; it's possible the user cleared the row after entering data, in which case we no longer want it
                        if (thisDataRow[0] !== null && thisDataRow[0] !== ""){
                            // an object container for the data in this row
                            var thisDataObject = {};
                            // convert each cell in this row into an object property
                            for (var i = 0; i < thisDataRow.length; i++) {
                                switch(i){
                                    case 0: // project name
                                        break;
                                    case 2: // site name
                                        break;
                                    case 4: // date
                                        break;
                                    case 5: // time
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "" && thisDataRow[i-1] !== null && thisDataRow[i-1] !== "") {
                                            var changedVal = thisDataRow[i];
                                            var newValue;
                                            switch (changedVal.length) {
                                                case 1:
                                                    newValue = "00:0" + changedVal;
                                                    break;
                                                case 2:
                                                    newValue = "00:" + changedVal;
                                                    break;
                                                case 3:
                                                    newValue = "0" + changedVal.substring(0, 1) + ":" + changedVal.substring(1);
                                                    break;
                                                case 4:
                                                    newValue = changedVal.substring(0, 2) + ":" + changedVal.substring(2);
                                                    break;
                                                default:
                                                    // user must have entered an invalid time, so set it to midnight
                                                    newValue = "00:00";
                                                    break;
                                            }
                                            thisDataObject[objectFields[i]] = thisDataRow[i-1]+" "+newValue+":00";
                                        }
                                        break;
                                    case 11: // processing
                                        thisDataObject[objectFields[i]] = getIdDom(data_processings,'processing',thisDataRow[i]);
                                        break;
                                    case 12: // bottle
                                        // this must eventually point to Sample Bottles, not Bottles
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = updateValueAjax('/mercuryservices/bottles', 'bottle_unique_name', 'id', thisDataRow[i]);
                                        break;
                                    case 13: // medium
                                        thisDataObject[objectFields[i]] = getIdDom(data_mediums,'medium',thisDataRow[i]);
                                        break;
                                    case 14: // constituent
                                        thisDataObject[objectFields[i]] = getIdDom(data_constituents,'constituent',thisDataRow[i]);
                                        break;
                                    case 15: // isotope
                                        break;
                                    case 16: // filter
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = getIdDom(data_filters,'filter',thisDataRow[i]);
                                        break;
                                    case 18: // preservation
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = getIdDom(data_preservations,'preservation',thisDataRow[i]);
                                        break;
                                    case 19: // acid
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = updateValueAjax('/mercuryservices/acids', 'code', 'id', thisDataRow[i]);
                                        break;
                                    default: // all the rest
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "") {
                                            thisDataObject[objectFields[i]] = thisDataRow[i];
                                        }
                                        break;
                                }
                            }
                            // add the new row object to the array
                            changedDataArray.push(thisDataObject);
                        }
                    });
                    // convert the array to a true JSON object
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    // send the entire changed data object to the server via ajax
                    console.log(changedDataJSON);
                    grid_console.text('Attempting to save data...');
                    $.ajax({
                        url: '/mercurylab/sample_login/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, outcome, response) {
                            if (response.status === 200) {
                                grid_console.text(outcome+': Data saved.');
                            }
                            else {
                                grid_console.text(outcome+': Save error: '+response.statusText+', code: '+response.status+'.');
                            }
                        },
                        error: function () {
                            grid_console.text("Save error. Likely couldn't reach the sample login service. Contact your administrator.");
                        }
                    });
                });

            });
        </script>

    </div>

{% endblock %}