{% extends 'mercurylab/base.html' %}
{% block body_block %}

    <div class="jumbotron">
        <p>
            <!-- <button type="button" class="btn btn-default" name="save">Save</button> -->
        </p>
        <pre id="grid_console" class="console" style="width:600px"></pre>
{#        <div id="form_sample_search">#}
{#            <form class="form-signin span8" id="item_form" method="post" action="{% url 'mercurylab:sample_search' %}" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <h3 class="form-signin-heading">Sample Search</h3>#}
{##}
{#                {% for field in form %}#}
{#                {{ field.errors }}#}
{#                {{ field.help_text }}<br />#}
{#                {{ field }}<br />#}
{#                {% endfor %}#}
{#                <br />#}
{##}
{#                <input class="btn btn-primary" type="submit" name="submit" value="Search" />#}
{#            </form>#}
{#        </div>#}
{#        <div id="form_sample_search">#}
{#            {% csrf_token %}#}
{#            <p>#}
{#                <input id="select_project" type="hidden" placeholder="Project Name" style="width:600px"/>#}
{#                <input id="select_site" type="hidden" placeholder="Site Name" style="width:600px"/>#}
{#            </p>#}
{#            <p>#}
{#                <input id="select_depth" type="number" placeholder="Depth" style="width:297px"/>#}
{#                <input id="select_replicate" type="number" placeholder="Replicate" style="width:297px"/>#}
{#                <input id="date_after" placeholder="After Date" style="width:297px"/>#}
{#                <input id="date_before" placeholder="Before Date" style="width:297px"/>#}
{#            </p>#}
{#            <p>#}
{#                <button type="button" class="btn btn-default" name="search">Search</button>#}
{#            </p>#}
{#        </div>#}
        <div class="panel-default">
            <form id="form_result_search" class="form-inline">
                {% csrf_token %}
                <p>
                    <div class="form-group">
                        <label for="select_sample_bottle">Bottle ID</label><br />
                        <input id="select_sample_bottle" type="hidden" style="width:1200px"/>
                    </div>
                </p>
                <span>OR</span>
                <p>
                    <div class="form-group">
                        <label for="select_project">Project Name</label><br />
                        <input id="select_project" type="hidden" style="width:598px"/>
                    </div>
                    <div class="form-group">
                        <label for="select_site">Site Name</label><br />
                        <input id="select_site" type="hidden" style="width:598px"/>
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        <label for="select_depth">Depth</label><br />
                        <input id="select_depth" type="number" class="select2-container select2-container-multi" style="width:297px;height:34px;font-size:15px;padding-left:4px;"/>
                    </div>
                    <div class="form-group">
                        <label for="select_replicate">Replicate</label><br />
                        <input id="select_replicate" type="number" class="select2-container select2-container-multi" style="width:297px;height:34px;font-size:15px;padding-left:4px;"/>
                    </div>
                    <div class="form-group">
                        <label for="date_after">After Date</label><br />
                        <input id="date_after" class="select2-container select2-container-multi" style="width:297px;height:34px;font-size:15px;padding-left:4px;"/>
                    </div>
                    <div class="form-group">
                        <label for="date_before">Before Date</label><br />
                        <input id="date_before" class="select2-container select2-container-multi" style="width:297px;height:34px;font-size:15px;padding-left:4px;"/>
                    </div>
                </p>
                <p>
                    <button type="button" class="btn btn-default" name="search">Search</button>
                    <button type="button" class="btn btn-default" name="prev">Previous Page</button>
                    <button type="button" class="btn btn-default" name="next">Next Page</button>
                </p>
            </form>
        </div>

        <p>
            <div class="select2-container select2-container-multi" style="width:600px">
                <ul class="select2-choices">
                    <li class="select2-search-field">
                        <label class="select2-offscreen"></label>
                        <input id="search_field" type="search" placeholder="Highlight in table." class="select2-input select2-default" style="width:593px;height:40px;font-size:21px;"/>
                    </li>
                </ul>
            </div>
        <!-- <p><input id="search_field" type="search" placeholder="Highlight in table." style="width:600px; border:1px solid darkgray; height:42px"/></p> -->
        <br /><br />
        <div id="grid" data-projects="{{ projects }}" data-processings="{{ processings }}" data-constituents="{{ constituents }}" data-mediums="{{ mediums }}" data-filters="{{ filters }}" data-preservations="{{ preservations }}" class="table table-hover table-condensed table-bordered"></div>

        <script>
            $(document).ready(function() {

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var currentPage = 1;
                var resultPages = 1;
                var grid = $('#grid');
                var grid_console = $("#grid_console");
                var data_data = {};
                grid.css("z-index", "0");
                var data_processings = JSON.parse(grid.attr('data-processings'));
                var data_mediums = JSON.parse(grid.attr('data-mediums'));
                var data_filters = JSON.parse(grid.attr('data-filters'));
                var data_preservations = JSON.parse(grid.attr('data-preservations'));
                // temporary array until isotopes get figured out
                var data_isotopes = ['', 'A', '198', '199', '200', '201', '202'];
                var data_acids;
                var data_projects = JSON.parse(grid.attr('data-projects'));
                var data_sites;
                var data_constituents = JSON.parse(grid.attr('data-constituents'));
                function split( val ) {return val.split( /,/ );}
                var validateTime = function(value, callback) {
                    // convert the string to number to allow math operations; also trims off leading zeroes
                    value = Number(value);
                    switch (value.toString().length) {
                        case 2: // between 12:09am and 1:00am (00:xx)
                            // minutes must be less than 60
                            if(value < 60){callback(true);}
                            else {callback(false);}
                            break;
                        case 3: // between 1am and 10am (1:xx thru 9:xx)
                            // convert to string to extract the minutes, then convert back to number to test if less than 60 (all single digit hours (1 thru 9) are allowed and thus not tested)
                            if(Number(value.toString().substring(1,3)) < 60){callback(true);}
                            else {callback(false);}
                            break;
                        case 4: // after 10am (10:xx thru xx:xx)
                            // convert to string to separately extract hours and minutes, then convert back to number to test if less than 24 and 60, respectively
                            if(Number(value.toString().substring(0,2)) < 24 && Number(value.toString().substring(2,4)) < 60){callback(true);}
                            else {callback(false);}
                            break;
                        default: // any other cases (1 digit, 00:00 thru 00:09) are allowed; column is already limited to 4 digits in the constructor, so no need to test for cases of 5 or more digits
                            {callback(true);}
                            break;
                    }
                };
                var objectFields = ["id", "project_name", "project", "site_name", "site", "skip_date", "time_stamp", "depth", "length", "replicate", "comment", "received_time_stamp", "lab_processing", "bottle", "medium_type", "constituent_type", /*"isotopic_analysis",*/ "isotope", "filter_type", "volume_filtered", "preservation_type", "preservation_acid", "preservation_volume", "preservation_comment"];
                var changedRowIndices = [];
                var selectionRowIndices = [];
                grid_console.text('Loading data...');
                grid.handsontable({
                    data: data_data,
                    columns: [
                        {title: 'ID', data: 'id', readOnly: true, width: 1},
                        {title: 'Project Name', data: 'sample_bottle.sample.project.name', width: 100, type: 'autocomplete', strict: true, source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'name', query, process)}
                        },
                        {title: 'Project ID', data: 'sample_bottle.sample.project.id', width: 70, type: 'autocomplete', strict: true, source: function (query, process) {
                            getValuesAjax('/mercuryservices/projects', 'id', query, process)}
                        },
                        {title: 'Site Name', data: 'sample_bottle.sample.site.name', width: 70, type: 'autocomplete', strict: true, source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'name', query, process, ('project=' + grid.handsontable('getInstance').getDataAtCell(grid.handsontable('getInstance').getSelected()[0], 2)))}
                        },
                        {title: 'Site ID', data: 'sample_bottle.sample.site.id', width: 70, type: 'autocomplete', strict: true, source: function (query, process) {
                            getValuesAjax('/mercuryservices/sites', 'id', query, process, ('project=' + grid.handsontable('getInstance').getDataAtCell(grid.handsontable('getInstance').getSelected()[0], 2)))}
                        },
                        // Date, Hour, and Minute as separate columns is temporary until a single column datetime editor can be found for handsontable
                        {title: 'Date', data: 'sample_bottle.sample.date', width: 100, type: 'date', maxDate: 0},
                        {title: 'Time', data: 'sample_bottle.sample.time', width: 60, type: 'numeric', validator: validateTime},
                        //{title: 'Hour', width: 50, type: 'autocomplete', source: getRange(24)},
                        //{title: 'Minute', width: 50, type: 'autocomplete', source: getRange(60)},
                        {title: 'Depth', data: 'sample_bottle.sample.depth', width: 50, type: 'numeric'},
                        {title: 'Length', data: 'sample_bottle.sample.length', width: 50, type: 'numeric'},
                        {title: 'Rep', data: 'sample_bottle.sample.replicate', width: 50, type: 'numeric'},
                        {title: 'Sample Comments', data: 'sample_bottle.sample.comment', width: 100, type: 'text'},
                        {title: 'Received', data: 'sample_bottle.sample.received_time_stamp', width: 100, type: 'date', maxDate: 0},
                        {title: 'Lab Processing', data: 'sample_bottle.sample.lab_processing', width: 105, type: 'text'/*, type: 'autocomplete', strict: true, source: getValuesDom(data_processings,"processing")*/},
                        //{title: 'Container ID', width: 100, type: 'text'},
                        {title: 'Container ID', data: 'sample_bottle.bottle.bottle_unique_name', width: 90, type: 'autocomplete', strict: true,  source: function (query, process) {
                            getValuesAjax('/mercuryservices/bottles', 'name', query, process)}},
                        {title: 'Medium', data: 'sample_bottle.sample.medium_type', width: 100, type: 'autocomplete', strict: true, source: getValuesDom(data_mediums,"medium")},
                        {title: 'Analysis', data: 'constituent', width: 70, type: 'autocomplete', strict: true},
                        {title: 'Isotope', data: 'isotope_flag', width: 55, type: 'dropdown', source: data_isotopes},
                        {title: 'Filter', data: 'sample_bottle.filter_type', width: 100, type: 'autocomplete', strict: true, source: getValuesDom(data_filters,"filter")},
                        {title: 'Filter Vol.', data: 'sample_bottle.volume_filtered', width: 65, type: 'numeric', format: '0.00'},
                        {title: 'Preservation', data: 'sample_bottle.preservation_type', width: 100, type: 'autocomplete', strict: true, source: getValuesDom(data_preservations, "preservation")},
                        //{title: 'Acid', width: 100, type: 'autocomplete',  source: getValuesDom(data_acids, "code")},
                        {title: 'Acid', data: 'sample_bottle.preservation_acid', width: 110, type: 'autocomplete', strict: true,  source: function (query, process) {
                            getValuesAjax('/mercuryservices/acids', 'code', query, process)}},
                        {title: 'Acid Vol.', data: 'sample_bottle.preservation_volume', width: 60, type: 'numeric', format: '0.00'},
                        {title: 'Pres. Comments', data: 'sample_bottle.preservation_comment', width: 100, type: 'text'}
                    ],
                    search: true,
                    // define event handlers
                    beforeChange: function(changes, source) {
                        // "changes" is a 2D array containing information about each of the edited cells [ [row, col, oldVal, newVal], [row, col, oldVal, newVal], ... ].
                        // "source" is one of the following strings: "alter", "empty", "edit", "populateFromArray", "loadData", "autofill", "paste".

                        // get index of changed row
                        var changedRow = changes[0][0];
                        // get index of changed column
                        var changedCol = changes[0][1];
                        // get value of changed cell
                        var changedVal = changes[0][3];

                        // remember the indices of all changed rows
                        if (source != 'loadData') {
                            // find index of this row in the changed rows array
                            var changedRowIndex = changedRowIndices.indexOf(changedRow);
                            // if not in the array (index == -1), add it to the array, otherwise ignore
                            if (changedRowIndex == -1){
                                changedRowIndices.push(changedRow);
                            }
                        }

                        // update dependent columns when a value in a parent column is changed
                        if (source == 'edit') {
                            // when project name is changed to a non-null, non-blank value
                            if (changedCol == 'sample_bottle.sample.project.name' && changedVal !== null && changedVal !== "") {
                                // update project ID to match project name
                                var newValue = updateValueDom(data_sites, 'name', 'id', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 2, newValue);
                                // update lists of site names and IDs filtered by the selected project name
                                /*$.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        project: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        // update the local full object collection
                                        data_sites = response['results'];
                                        // update the site name dropdown list with just the values
                                        var colToChange = 2;
                                        var values = getValuesDom(data_sites, "name");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 3;
                                        values = getValuesDom(data_sites, "id");
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });*/
                            }
                            // when project ID is changed to a non-null, non-blank value
                            if (changedCol == 'sample_bottle.sample.project.id' && changedVal !== null && changedVal !== "") {
                                // update project name to match project ID
                                var newValue = updateValueDom(data_projects, 'id', 'name', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 1, newValue);
                                // update lists of site names and IDs filtered by the selected project name
                               /* $.ajax({
                                    url: '/mercuryservices/sites/',
                                    dataType: 'json',
                                    data: {
                                        project: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        // update the local full object collection
                                        data_sites = response['results'];
                                        // update the site name dropdown list with just the values
                                        var colToChange = 2;
                                        var values = getValuesDom(data_sites, "name");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                        // update the site IDs dropdown list with just the IDs
                                        colToChange = 3;
                                        values = getValuesDom(data_sites, "id");
                                        cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });*/
                            }
                            // when site name is changed to a non-null, non-blank value
                            if (changedCol == 'sample_bottle.sample.site.name' && changedVal !== null && changedVal !== "") {
                                // update site ID to match site name
                                var newValue = updateValueAjax('/mercuryservices/sites/', 'name', 'id', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 4, newValue);
                            }
                            // when site ID is changed to a non-null, non-blank value
                            if (changedCol == 'sample_bottle.sample.site.id' && changedVal !== null && changedVal !== "") {
                                // update site name to match site ID
                                var newValue = updateValueAjax('/mercuryservices/sites/', 'id', 'name', changedVal);
                                grid.handsontable('setDataAtCell', changedRow, 3, newValue);
                            }
                            // when medium is changed to a non-null, non-blank value
                            if (changedCol == 'sample_bottle.sample.medium_type' && changedVal !== null && changedVal !== "") {
                                // update list of constituents filtered by the selected medium value
                                $.ajax({
                                    url: '/mercuryservices/constituents/',
                                    dataType: 'json',
                                    data: {
                                        medium: changedVal
                                    },
                                    success: function (response) {
                                        grid_console.text("success");
                                        var colToChange = 15;
                                        // update the local full object collection
                                        data_constituents = response;
                                        // update the dropdown list with just the values
                                        var values = getValuesDom(data_constituents, "constituent");
                                        var cellProperties = grid.handsontable('getInstance').getCellMeta(changedRow, colToChange);
                                        cellProperties.source = values;
                                    },
                                    error: function (response) {
                                        grid_console.text("error");
                                    }
                                });
                            }
                        }
                    },
                    // get list of selected rows
                    afterSelectionEnd: function(r, c, r2, c2) {
                        //for (var i = r; i < (r2+1); i++){
                            selectionRowIndices.push(r);
                        //}

                    }
                });
                //grid.data('handsontable').sort(0);
                grid_console.text('Data loaded.');

                $('#search_field').on('keyup', function (event) {
                    grid.handsontable('getInstance').search.query(this.value);
                    grid.handsontable('getInstance').render();
                });

                var select_sample_bottle = $("#select_sample_bottle").select2({
                    allowClear: true,
                    multiple: true,
                    //maximumSelectionSize: 1,
                    //dropdownCss:{display:'none'},
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/bottles/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                bottle_unique_name: term
                            };
                        },
                        results: function (data, page) {
                            //data_data = data;
                            //grid.data('handsontable').loadData(data.results);
                            grid_console.text('Filtered data loaded.');
                            return {results: data.results};
                        }
                    },
                    formatResult: formatBottle,
                    formatSelection: formatBottle
                });

                var select_project = $("#select_project").select2({
                    allowClear: true,
                    multiple: true,
                    //maximumSelectionSize: 1,
                    //dropdownCss:{display:'none'},
                    minimumInputLength: 1,
                    data: { results: data_projects, text: 'name'},
                    formatResult: formatName,
                    formatSelection: formatName
                });//.on("change", function(e) {});

                var select_site = $("#select_site").select2({
                    allowClear: true,
                    multiple: true,
                    //maximumSelectionSize: 1,
                    //dropdownCss:{display:'none'},
                    minimumInputLength: 1,
                    ajax: {
                        url: '/mercuryservices/sites/',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                name: term
                            };
                        },
                        results: function (data, page) {
                            grid_console.text('Filtered data loaded.');
                            return {results: data.results};
                        }
                    },
                    formatResult: formatName,
                    formatSelection: formatName
                });

                var select_constituent = $("#select_constituent").select2({
                    allowClear: true,
                    multiple: true,
                    //maximumSelectionSize: 1,
                    //dropdownCss:{display:'none'},
                    minimumInputLength: 1,
                    data: { results: data_constituents, text: 'constituent'},
                    formatResult: formatConstituent,
                    formatSelection: formatConstituent
                });

                function formatName(data) {
                    return data.name;
                    /*var newData = [];
                    $.each(data, function(item){
                       newData.push({
                           id: item.id,
                           text: item.name
                       })
                    });
                    return newData;*/
                }

                function formatID(data) {
                    return data.id;
                }

                function formatBottle(data) {
                    return data.bottle_unique_name;
                }

                function formatConstituent(data) {
                    return data.constituent;
                }

                var date_after = $("#date_after").datepicker({
                    dateFormat: "yy-mm-dd",
                    maxDate: 0
                });

                var date_before = $("#date_before").datepicker({
                    dateFormat: "yy-mm-dd",
                    maxDate: 0
                });

                grid.parent().find('button[name=insertRows]').click(function () {
                    grid.data('handsontable').alter('insert_row',null,8);
                    grid_console.text('Inserted Rows.');
                });

                grid.parent().find('button[name=search]').click(function () {
                    grid_console.text('Attempting to search...');
                    var thisDataObject = {};
                    //var theID = $(select_project).select2('data').id;
                    //var theSelection = $(select_project).select2('data').text;
                    thisDataObject['bottle'] = $(select_sample_bottle).val();
                    thisDataObject['project'] = $(select_project).val();
                    thisDataObject['site'] = $(select_site).val();//.slice(0, -1);
                    thisDataObject['depth'] = $("#select_depth").val();
                    thisDataObject['replicate'] = $("#select_replicate").val();
                    thisDataObject['date_after'] = $(date_after).val();
                    thisDataObject['date_before'] = $(date_before).val();
                    var dataJSON = JSON.stringify(thisDataObject);
                    $.ajax({
                        url: '/mercurylab/sample_search/search',
                        data: dataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            // if the content-type is plain text, then it's a custom message from our Django view
                            if (content_type.indexOf('text') > -1) {
                                grid_console.text(data);
                            }
                            // otherwise, it's JSON from the REST Services
                            else if (jqXHRequest.status === 200) {
                                data_data = data;
                                resultPages = Math.ceil(data_data['count'] / 100);
                                grid_console.text(textStatus+': Retrieved '+ data_data['count'] +' results across ' + resultPages + ' pages. Showing first 100 results.');
                                grid.data('handsontable').loadData(data_data.results);
                            }
                            else {
                                grid_console.text(textStatus+': Search error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + " ... " + textStatus);
                        }
                    });
                });

                grid.parent().find('button[name=next]').click(function () {
                    if (currentPage != resultPages) {
                        $.ajax({
                            url: data_data.next,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage++;
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (response) {
                                grid_console.text("error");
                            }
                        });
                    }
                    else {
                        grid_console.text("End of results, there are no pages after Page " + resultPages + ".");
                    }
                });

                grid.parent().find('button[name=prev]').click(function () {
                    if (currentPage != 1) {
                        $.ajax({
                            url: data_data.previous,
                            dataType: 'json',
                            success: function (response) {
                                grid_console.text("success");
                                data_data = response;
                                grid.data('handsontable').loadData(data_data.results);
                                currentPage--;
                                grid_console.text('Page ' + currentPage + ' of ' + resultPages + ' loaded.');
                            },
                            error: function (response) {
                                grid_console.text("error");
                            }
                        });
                    }
                    else {
                        grid_console.text("There are no pages before Page 1.");
                    }
                });

                // when the save button is clicked, loop through the list of changed rows and build a JSON object containing the changed rows
                grid.parent().find('button[name=save]').click(function () {
                    grid_console.text('Saving is disabled at the moment.');
                });
                /*grid.parent().find('button[name=save]').click(function () {
                    // an array container for storing the changed data rows to send to the database
                    var changedDataArray = [];
                    // loop through the list of changed rows
                    $.each(changedRowIndices, function(index, value) {
                        // grab all the data for this row
                        var thisDataRow = grid.data('handsontable').getDataAtRow(value);
                        // check if this row still has data; it's possible the user cleared the row after entering data, in which case we no longer want it
                        if (thisDataRow[0] !== null && thisDataRow[0] !== ""){
                            // an object container for the data in this row
                            var thisDataObject = {};
                            // convert each cell in this row into an object property
                            for (var i = 0; i < thisDataRow.length; i++) {
                                switch(i){
                                    case 1: // project name
                                        break;
                                    case 3: // site name
                                        break;
                                    case 5: // date
                                        break;
                                    case 6: // time
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "" && thisDataRow[i-1] !== null && thisDataRow[i-1] !== "") {
                                            var changedVal = thisDataRow[i];
                                            var newValue;
                                            switch (changedVal.length) {
                                                case 1:
                                                    newValue = "00:0" + changedVal;
                                                    break;
                                                case 2:
                                                    newValue = "00:" + changedVal;
                                                    break;
                                                case 3:
                                                    newValue = "0" + changedVal.substring(0, 1) + ":" + changedVal.substring(1);
                                                    break;
                                                case 4:
                                                    newValue = changedVal.substring(0, 2) + ":" + changedVal.substring(2);
                                                    break;
                                                default:
                                                    // user must have entered an invalid time, so set it to midnight
                                                    newValue = "00:00";
                                                    break;
                                            }
                                            thisDataObject[objectFields[i]] = thisDataRow[i-1]+" "+newValue+":00";
                                        }
                                        break;
                                    case 12: // processing
                                        thisDataObject[objectFields[i]] = getIdDom(data_processings,'processing',thisDataRow[i]);
                                        break;
                                    case 13: // bottle
                                        // this must eventually point to Sample Bottles, not Bottles
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = updateValueAjax('/mercuryservices/bottles', 'bottle_unique_name', 'id', thisDataRow[i]);
                                        break;
                                    case 14: // medium
                                        thisDataObject[objectFields[i]] = getIdDom(data_mediums,'medium',thisDataRow[i]);
                                        break;
                                    case 15: // constituent
                                        thisDataObject[objectFields[i]] = getIdDom(data_constituents,'constituent',thisDataRow[i]);
                                        break;
                                    case 16: // isotope
                                        break;
                                    case 17: // filter
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = getIdDom(data_filters,'filter',thisDataRow[i]);
                                        break;
                                    case 19: // preservation
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = getIdDom(data_preservations,'preservation',thisDataRow[i]);
                                        break;
                                    case 20: // acid
                                        thisDataObject[objectFields[i]] = thisDataObject[objectFields[i]] = updateValueAjax('/mercuryservices/acids', 'code', 'id', thisDataRow[i]);
                                        break;
                                    default: // all the rest
                                        if (thisDataRow[i] !== null && thisDataRow[i] !== "") {
                                            thisDataObject[objectFields[i]] = thisDataRow[i];
                                        }
                                        break;
                                }
                            }
                            // add the new row object to the array
                            changedDataArray.push(thisDataObject);
                        }
                    });
                    // convert the array to a true JSON object
                    var changedDataJSON = JSON.stringify(changedDataArray);
                    // send the entire changed data object to the server via ajax
                    console.log(changedDataJSON);
                    grid_console.text('Attempting to save data...');
                    $.ajax({
                        url: '/mercurylab/sample_login/save',
                        data: changedDataJSON,
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        success: function (data, textStatus, jqXHRequest) {
                            var content_type = jqXHRequest.getResponseHeader("content-type");
                            // if the content-type is plain text, then it's a custom message from our Django view
                            if (content_type.indexOf('text') > -1) {
                                grid_console.text(data);
                            }
                            // otherwise, it's JSON from the REST Services
                            else if (jqXHRequest.status === 200) {
                                grid_console.text(textStatus+': Data saved.');
                            }
                            else {
                                grid_console.text(textStatus+': Save error: '+jqXHRequest.statusText+', code: '+jqXHRequest.status+'.');
                            }
                        },
                        error: function (jqXHRequest, textStatus, errorThrown) {
                            grid_console.text(errorThrown + ": " + textStatus);
                        }
                    });
                });*/

            });
        </script>

    </div>

{% endblock %}