{% extends 'mercurylab/base.html' %}

{% load static %}

{% block title %}Search{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<h1>Search with Mercury Lab</h1><br />

	<div class="container-fluid">
		<form class="form-signin span8" id="user_form" method="post" action="/mercurylab/search/">
			{% csrf_token %}
			<input type="text" size="50" name="query" value="" id="query" />
			<input class="btn btn-primary" type="submit" name="submit" value="Search" />
			<br />
		</form>

		{% if result_list %}

		<div style="clear: both;">
			<ol>
			{% for result in result_list %}
				<li>
					<strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
					<em>{{ result.summary }}</em>
				</li>
			{% endfor %}
			</ol>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}