.customCurrentRow {
  background-color: #c8ebff !important; /*gives priority over td.area selection background*/
}

.customCurrentCol {
  background-color: #ebf5fa !important; /*gives priority over td.area selection background*/
}

.customHtInvalid {
    background-color: #f0ad4e !important; /*gives priority over td.area selection background*/
}

.customHtSearchResult {
    background: #51BCDC !important; /*gives priority over td.area selection background*/
    color: #583707;
}

#expander {
    height: 150%;
    background-color: #333333;
    position: absolute;
    width:2em;
    float: left;
    left: auto;
    z-index: 1000;
}

.navbar {
    background-color: #333;
    background-image: none;
}

.glyphicon {
    color: #999999;
}

#expander:hover {
  box-shadow: 3px 3px 15px #666;
  cursor: pointer;
}


/* custom combobox CSS using jQueryUI Autocomplete, source code found here: http://jqueryui.com/autocomplete/#combobox */
.custom-combobox {
  position: relative;
  display: inline-block;
}

.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}

.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}